Repository aristanetworks/anta: changes, and which Codecov flags are due for each by the changed paths.
All: anta, asynceapi

Test: Remove warnings from pytest
  tests/units/anta_tests/conftest.py
  tests/units/reporter/test_md_reporter.py
Due: none

Addressed review comments: Added cli flag
  anta/cli/utils.py
  anta/device.py
  anta/inventory/__init__.py
  anta/inventory/models.py
  asynceapi/_models.py
  docs/advanced_usages/as-python-lib.md
  docs/snippets/anta_debug_runcmd_help.txt
  docs/snippets/anta_debug_runtemplate_help.txt
  docs/snippets/anta_exec_clearcounters_help.txt
  docs/snippets/anta_exec_collecttechsupport_help.txt
  docs/snippets/anta_exec_snapshot_help.txt
  docs/snippets/anta_get_inventory_help.txt
  docs/snippets/anta_get_tags_help.txt
  docs/snippets/anta_nrfu_help.txt
  tests/units/cli/nrfu/test__init__.py
  tests/units/inventory/test__init__.py
  tests/units/test_device.py
Due: anta, asynceapi

Addreesed coderabbit's comments
  anta/device.py
  anta/inventory/__init__.py
  tests/units/cli/nrfu/test__init__.py
Due: anta

Updated description for CLI flag
  anta/cli/utils.py
Due: anta

Update docstring for _update_use_session method
  anta/cli/utils.py
  anta/inventory/__init__.py
  docs/snippets/anta_debug_runcmd_help.txt
  docs/snippets/anta_debug_runtemplate_help.txt
  docs/snippets/anta_exec_clearcounters_help.txt
  docs/snippets/anta_exec_collecttechsupport_help.txt
  docs/snippets/anta_exec_snapshot_help.txt
  docs/snippets/anta_get_inventory_help.txt
  docs/snippets/anta_get_tags_help.txt
  docs/snippets/anta_nrfu_help.txt
Due: anta

test(bugdb): add BugDatabase unit tests to improve codecov coverage
  tests/units/bugdb/test_bugdb.py
Due: none

fix(tests): make failure isolation test order-independent
  tests/units/bugdb/test_bugdb.py
Due: none

CI: Add issue templates
  .github/ISSUE_TEMPLATE/blank_issue.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/support_question.yml
Due: none

refactor: Address comments
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/support_question.yml
Due: none

Doc: Add how-to run the test to the contribution guide
  docs/contribution.md
Due: none

ci: Move to pinned version now that we have it
  .github/workflows/pull-request-rn-labeler.yml
Due: none

doc: Add precisions on caching
  docs/advanced_usages/caching.md
Due: none

ci: Add feature template and weird blank issue
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/general_issue.yml
Due: none

Update general_issue.yml
  .github/ISSUE_TEMPLATE/general_issue.yml
Due: none

feat(anta.tests): add test for vvtep ip address
  anta/tests/vxlan.py
  examples/tests.yaml
  tests/units/anta_tests/test_vxlan.py
Due: anta

Updated CLI flag to tri-state
  anta/cli/utils.py
  anta/device.py
  anta/inventory/__init__.py
  asynceapi/_auth.py
  asynceapi/device.py
  docs/advanced_usages/as-python-lib.md
  docs/snippets/anta_debug_runcmd_help.txt
  docs/snippets/anta_debug_runtemplate_help.txt
  docs/snippets/anta_exec_clearcounters_help.txt
  docs/snippets/anta_exec_collecttechsupport_help.txt
  docs/snippets/anta_exec_snapshot_help.txt
  docs/snippets/anta_get_inventory_help.txt
  docs/snippets/anta_get_tags_help.txt
  docs/snippets/anta_nrfu_help.txt
  tests/units/asynceapi/test__auth.py
  tests/units/asynceapi/test_device.py
  tests/units/cli/nrfu/test__init__.py
  tests/units/inventory/test__init__.py
  tests/units/test_device.py
Due: anta, asynceapi

addressed review comment: renamed cli flag to overrride
  anta/cli/utils.py
  anta/device.py
  anta/inventory/__init__.py
  anta/inventory/models.py
  asynceapi/_auth.py
  docs/advanced_usages/env-vars.md
  docs/snippets/anta_debug_runcmd_help.txt
  docs/snippets/anta_debug_runtemplate_help.txt
  docs/snippets/anta_exec_clearcounters_help.txt
  docs/snippets/anta_exec_collecttechsupport_help.txt
  docs/snippets/anta_exec_snapshot_help.txt
  docs/snippets/anta_get_inventory_help.txt
  docs/snippets/anta_get_tags_help.txt
  docs/snippets/anta_nrfu_help.txt
  docs/usage-inventory-catalog.md
  tests/units/asynceapi/test__auth.py
  tests/units/asynceapi/test_device.py
  tests/units/cli/nrfu/test__init__.py
  tests/units/inventory/test__init__.py
  tests/units/inventory/test_models.py
Due: anta, asynceapi

addressed review comments: updated doc for capabilities
  docs/usage-inventory-catalog.md
Due: none

ci: use OIDC for CodSpeed benchmarks
  .github/workflows/code-testing.yml
  .github/workflows/codspeed.yml
Due: none

Improve logs and error handling + change to use_session_auth everywhere
  anta/device.py
  anta/inventory/__init__.py
  asynceapi/_auth.py
  asynceapi/_models.py
  asynceapi/device.py
  asynceapi/errors.py
  tests/units/asynceapi/test__auth.py
  tests/units/asynceapi/test_device.py
  tests/units/inventory/test__init__.py
  tests/units/test_device.py
Due: anta, asynceapi

Add unit tests
  tests/units/inventory/test__init__.py
  tests/units/test_device.py
Due: none

Update documentation
  docs/advanced_usages/as-python-lib.md
  docs/advanced_usages/env-vars.md
  docs/cli/overview.md
  docs/faq.md
  docs/usage-inventory-catalog.md
Due: none

Catch EapiAuthenticationError in collect show tech
  anta/cli/exec/utils.py
Due: anta

doc: Fix some docs and logs
  asynceapi/_auth.py
  docs/usage-inventory-catalog.md
Due: asynceapi

feat(asynceapi): Add cookie fingerprint for troubleshoot
  asynceapi/_auth.py
Due: asynceapi

Update docstring
  asynceapi/device.py
Due: asynceapi

test(asynceapi): cover session cookie fingerprint logs
  tests/units/asynceapi/test__auth.py
Due: none

WIP
  .pre-commit-config.yaml
  anta/cli/exec/utils.py
  anta/device.py
  anta/logger.py
  asynceapi/_auth.py
  asynceapi/aio_portcheck.py
  asynceapi/device.py
  asynceapi/errors.py
  docs/advanced_usages/env-vars.md
  docs/faq.md
  docs/httpx2_migration.md
  pyproject.toml
  tests/benchmark/conftest.py
  tests/benchmark/test_anta.py
  tests/benchmark/utils.py
  tests/conftest.py
  tests/integration/test_run_eos_commands.py
  tests/units/asynceapi/test__auth.py
  tests/units/asynceapi/test_device.py
  tests/units/asynceapi/test_errors.py
  tests/units/cli/exec/test_utils.py
  tests/units/cli/test__init__.py
  tests/units/test__runner.py
  tests/units/test_device.py
Due: anta, asynceapi

Fix CI
  tests/conftest.py
Due: none

Fix CI again
  tests/conftest.py
Due: none

Update migration guide
  docs/httpx2_migration.md
Due: none

Fix debug log
  asynceapi/device.py
Due: asynceapi

Add IPv6 support
  anta/tests/vxlan.py
  examples/tests.yaml
  tests/units/anta_tests/test_vxlan.py
Due: anta

CI: Make it less breakabke - the extension is repo local
  .github/zensical-migration.md
  tools/zensical_extensions/pyproject.toml
Due: none

Fix documentation
  anta/tests/routing/generic.py
  docs/README.md
  docs/advanced_usages/as-python-lib.md
  docs/advanced_usages/custom-tests.md
  docs/cli/check.md
  docs/cli/get-inventory-information.md
  docs/cli/get-tests.md
  docs/cli/inv-from-ansible.md
  docs/cli/nrfu.md
  docs/cli/overview.md
  docs/cli/tag-management.md
  docs/contribution.md
  docs/faq.md
  docs/getting-started.md
  docs/requirements-and-installation.md
  docs/troubleshooting.md
  docs/usage-inventory-catalog.md
  examples/README.md
Due: anta

Apply suggestions from code review
  docs/cli/overview.md
  docs/contribution.md
Due: none

Apply suggestion from @gmuloc
  docs/getting-started.md
Due: none

Apply suggestion from @gmuloc
  docs/requirements-and-installation.md
Due: none

Update
  docs/getting-started.md
Due: none

doc: Remove duplicate anta --help line
  docs/cli/overview.md
Due: none

Path conditions:
  anta: any of: anta/, but not: tests/**/*, docs/**/*
  asynceapi: any of: asynceapi/, but not: tests/**/*, docs/**/*
