Repository aristanetworks/anta: changes, and which Codecov flags are due for each by the changed paths.
All: anta, asynceapi

.codecov.yml:

---
# .codecov.yml
coverage:
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
        paths:
          - "anta/"
          - "asynceapi/"
    patch:
      default:
        target: 80%
        threshold: 0%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  anta:
    paths:
      - anta/
  asynceapi:
    paths:
      - asynceapi/

ignore:
  - "tests/**/*"
  - "docs/**/*"

ci: Speedup CI
  .github/workflows/code-testing.yml
  .github/workflows/codecov.yml
  .github/workflows/codspeed.yml
Due: none

Update Ethernet and Port Channel regex
  anta/custom_types.py
  tests/units/test_custom_types.py
Due: anta

ci: Change title
  .github/workflows/codspeed.yml
Due: none

ci: Speedup CI (#1432)
  .github/workflows/code-testing.yml
  .github/workflows/codecov.yml
  .github/workflows/codspeed.yml
Due: none

Test: Removing test_tools to see codecov playing nice
  tests/units/test_tools.py
Due: none

ci: Add branch that can't be tested
  anta/catalog.py
Due: anta

ci: Writing boggus code is hard
  anta/catalog.py
Due: anta

fix(anta.tests): Support for Ethernet and Port Channel subinterfaces in interface tests filters (#1433)
  anta/custom_types.py
  tests/units/test_custom_types.py
Due: anta

refactor(anta.tests): Refactor VerifyTransceiversTemperature test for atomic results
  anta/tests/hardware.py
  tests/units/anta_tests/test_hardware.py
Due: anta

refactor(anta.tests): Refactor VerifyEnvironmentCooling test for atomic results
  anta/tests/hardware.py
  tests/units/anta_tests/test_hardware.py
Due: anta

refactor(anta.tests): Refactor VerifyEnvironmentPower test for atomic results 
  anta/tests/hardware.py
  tests/units/anta_tests/test_hardware.py
Due: anta

refactor(anta.tests): Refactor VerifyTransceiversTemperature test for atomic results (#1435)
  anta/tests/hardware.py
  tests/units/anta_tests/test_hardware.py
Due: anta

addressed review comments: updated failure msgs
  anta/tests/interfaces.py
  tests/units/anta_tests/test_interfaces.py
Due: anta

refactor(anta.tests): Refactor VerifyInterfaceUtilization test for atomic results  (#1423)
  anta/tests/interfaces.py
  tests/units/anta_tests/test_interfaces.py
Due: anta

refactor(anta.tests): Refactor VerifyEnvironmentPower test for atomic results  (#1437)
  anta/tests/hardware.py
  tests/units/anta_tests/test_hardware.py
Due: anta

refactor(anta.tests): Refactor VerifyEnvironmentCooling test for atomic results (#1436)
  anta/tests/hardware.py
  tests/units/anta_tests/test_hardware.py
Due: anta

addressed review comments: added support for bothe routes and routing_table_entries
  anta/tests/routing/generic.py
  tests/units/anta_tests/routing/test_generic.py
Due: anta

fixed the unit test failure
  anta/tests/routing/generic.py
  tests/units/anta_tests/routing/test_generic.py
Due: anta

updated anta templates
  anta/tests/routing/generic.py
  tests/units/anta_tests/routing/test_generic.py
  tests/units/test__runner.py
Due: anta

CI: Fix ruff & pylint issues
  .pre-commit-config.yaml
  anta/cli/nrfu/utils.py
  anta/reporter/md_reporter.py
  anta/tests/interfaces.py
  anta/tests/stp.py
  asynceapi/device.py
  tests/benchmark/conftest.py
Due: anta, asynceapi

CI: Adjust Codecov workflow to use oicd and clean up leftovers from workflow runs
  .github/workflows/codecov.yml
Due: none

ci: Adjust Codecov workflow to use oicd and clean up leftovers from workflow runs (#1440)
  .github/workflows/codecov.yml
Due: none

CI: Remove unused dependency breaking windows CI
  pyproject.toml
Due: none

Addressed review comments: updated test logic one template
  anta/input_models/routing/generic.py
  anta/tests/routing/generic.py
  examples/tests.yaml
Due: anta

Apply suggestions from code review
  anta/tests/routing/generic.py
Due: anta

addressed review comments: removed logger
  anta/tests/routing/generic.py
Due: anta

feat(anta.tests): Added VerifyRoutingTableEntryPerVRF, VerifySpecificRoutingTableEntry test and deprecated the VerifyRoutingTableEntry test
  anta/constants.py
  anta/tests/routing/generic.py
  examples/tests.yaml
  tests/units/anta_tests/routing/test_generic.py
Due: anta

fixing unit test failuer
  anta/tests/routing/generic.py
Due: anta

ci: Clean up unneeded token
  .github/workflows/codecov.yml
Due: none

ci: Clean up unneeded token (#1445)
  .github/workflows/codecov.yml
Due: none

ci: Add flags to Codecov upload step
  .github/workflows/codecov.yml
Due: none

ci: Add flags to Codecov upload step (#1447)
  .github/workflows/codecov.yml
Due: none

refactor(anta.tests): Refactor VerifyInventory test for atomic results (#1405)
  anta/tests/hardware.py
  tests/units/anta_tests/test_hardware.py
Due: anta

Addressed review comments: added input model and deprecated the existing
  anta/input_models/routing/generic.py
  anta/tests/routing/generic.py
  examples/tests.yaml
  tests/units/anta_tests/routing/test_generic.py
Due: anta

ADdressed review comments: updated input model to remove deprecation warning
  anta/input_models/routing/generic.py
  anta/tests/routing/generic.py
  examples/tests.yaml
  tests/units/anta_tests/routing/test_generic.py
  tests/units/input_models/routing/test_generic.py
Due: anta

feat(anta.tests): Added VerifyRoutingTableEntryPerVRF, VerifySpecific RoutingTableEntry test and deprecated the VerifyRoutingTableEntry test (#1443)
  anta/constants.py
  anta/input_models/routing/generic.py
  anta/tests/routing/generic.py
  examples/tests.yaml
  tests/units/anta_tests/routing/test_generic.py
  tests/units/input_models/routing/test_generic.py
Due: anta

bump: Version 1.7.0 -> 1.8.0
  docs/contribution.md
  docs/requirements-and-installation.md
  pyproject.toml
Due: none

bump: Version 1.7.0 -> 1.8.0 (#1457)
  docs/contribution.md
  docs/requirements-and-installation.md
  pyproject.toml
Due: none

feat(anta.tests): Add VerifySSHFIPSRestrictions to security tests
  anta/tests/security.py
  tests/units/anta_tests/test_security.py
Due: anta

feat(anta.tests): Add VerifyMgmtIdleTimeout to security tests
  anta/tests/security.py
  examples/tests.yaml
  tests/units/anta_tests/test_security.py
Due: anta
