Repository aristanetworks/anta: changes, and which Codecov flags are due for each by the changed paths.
All: anta, asynceapi

doc: Fix stable version banner target
  docs/overrides/main.html
Due: none

test(bugdb): add coverage for bug database cache functions
  tests/units/bugdb/test_download.py
Due: none

fix(bugdb): harden cache error handling and remove dead code
  anta/bugdb/download.py
  anta/cli/bug/utils.py
  tests/units/bugdb/test_download.py
Due: anta

Update .github/workflows/code-testing.yml
  .github/workflows/code-testing.yml
Due: none

Update docs/api/tests/flow_tracking.md
  docs/api/tests/flow_tracking.md
Due: none

Refactor: Address the rabbit comments
  .github/workflows/main-doc.yml
  .github/zensical_extensions/_extensions/zensical_git_dates.py
  docs/stylesheets/extra.zensical.css
Due: none

Refactor: Github UI is not working well...
  .github/workflows/code-testing.yml
Due: none

Addressed review comments: removed abstract_method and added is_ol and estb to disconnect
  anta/device.py
  asynceapi/_models.py
Due: anta, asynceapi

fix(device): reset version on refresh to prevent stale state
  anta/device.py
Due: anta

fix(tests): fix Windows path assertion and increase coverage for codecov
  tests/units/bugdb/test_download.py
  tests/units/cli/bug/test_commands.py
  tests/units/cli/bug/test_utils.py
Due: none

docs(bug): update anta bug documentation with all options
  docs/cli/bug.md
  docs/snippets/anta_bug_help.txt
Due: none

doc: Update outdated documentation in preparation of release v1.9.0 (#1518)
  .github/workflows/code-testing.yml
  anta/device.py
  docs/README.md
  docs/advanced_usages/as-python-lib.md
  docs/cli/check.md
  docs/cli/debug.md
  docs/cli/exec.md
  docs/contribution.md
  docs/scripts/generate_doc_snippets.py
  docs/scripts/generate_snippet.py
  docs/snippets/anta_check_catalog_help.txt
  docs/snippets/anta_check_help.txt
  docs/snippets/anta_debug_runcmd_help.txt
  docs/snippets/anta_debug_runtemplate_help.txt
  docs/snippets/anta_exec_clearcounters_help.txt
  docs/snippets/anta_exec_collecttechsupport_help.txt
  docs/snippets/anta_exec_help.txt
  docs/snippets/anta_exec_snapshot_help.txt
  docs/troubleshooting.md
  examples/run_eos_commands.py
Due: anta

Updated test failure message and testcases
  anta/tests/configuration.py
  tests/units/anta_tests/test_configuration.py
Due: anta

Added --disconnect to cli
  anta/_runner.py
  anta/cli/nrfu/__init__.py
  anta/cli/nrfu/utils.py
  anta/runner.py
  docs/snippets/anta_nrfu_help.txt
Due: anta

CI: Bump min version of click for doc-snippets
  .github/workflows/code-testing.yml
  .pre-commit-config.yaml
  docs/snippets/anta_nrfu_help.txt
Due: none

ci: Bump min version of click for doc-snippets (#1526)
  .github/workflows/code-testing.yml
  .pre-commit-config.yaml
  docs/snippets/anta_nrfu_help.txt
Due: none

Update .github/TODO.md
  .github/TODO.md
Due: none

Update .github/zensical-migration.md
  .github/zensical-migration.md
Due: none

docs: use standard admonitions
  .github/zensical-migration.md
  docs/advanced_usages/as-python-lib.md
  docs/advanced_usages/custom-tests.md
  docs/cli/debug.md
  docs/cli/exec.md
  docs/cli/get-inventory-information.md
  docs/cli/get-tests.md
  docs/cli/inv-from-ansible.md
  docs/cli/inv-from-cvp.md
  docs/cli/nrfu.md
  docs/cli/overview.md
  docs/cli/tag-management.md
  docs/requirements-and-installation.md
  docs/troubleshooting.md
  docs/usage-inventory-catalog.md
  mkdocs.yml
  pyproject.toml
Due: none

refactor: Address PR comments
  .github/workflows/code-testing.yml
  .github/workflows/main-doc.yml
  .github/workflows/release.yml
  .github/zensical-migration.md
  .pre-commit-config.yaml
  docs/contribution.md
  docs/stylesheets/extra.zensical.css
  mkdocs.yml
  pyproject.toml
  tools/zensical_extensions/_extensions/__init__.py
  tools/zensical_extensions/_extensions/zensical_git_dates.py
  tools/zensical_extensions/pyproject.toml
Due: none

refactor: Font size and background color matching AVD
  docs/stylesheets/extra.zensical.css
Due: none

refactor: Remove all joy in my life by bringing back the table
  docs/stylesheets/extra.zensical.css
Due: none

refactor: Address PR comments
  .github/zensical-migration.md
  mkdocs.yml
Due: none

doc: Update contribution guide
  .codespellignore
  docs/contribution.md
Due: none

doc: Update contribution guide (#1527)
  .codespellignore
  docs/contribution.md
Due: none

Added tests on runner
  tests/units/test__runner.py
Due: none

ci: configure Renovate dependency updates
  .github/dependabot.yml
  renovate.json
  renovate.jsonc
Due: none

feat: Add connected_inventory in context
  anta/_runner.py
  tests/units/test__runner.py
Due: anta

CI: Update rennovate config with better policies
  renovate.jsonc
Due: none

Refactor to simplify the logic
  anta/input_models/configuration.py
  anta/tests/configuration.py
  examples/tests.yaml
  tests/units/anta_tests/test_configuration.py
  tests/units/input_models/test_configuration.py
Due: anta

Test: Add tests
  tests/units/cli/nrfu/test__init__.py
  tests/units/inventory/test__init__.py
  tests/units/test__runner.py
  tests/units/test_device.py
  tests/units/test_runner.py
Due: none

Use section instead of stanza
  anta/input_models/configuration.py
  anta/tests/configuration.py
  examples/tests.yaml
  tests/units/anta_tests/test_configuration.py
  tests/units/input_models/test_configuration.py
Due: anta

Add decorator for preview
  anta/decorators.py
  anta/models.py
  anta/tests/configuration.py
  docs/templates/python/material/class.html.jinja
Due: anta

Refactor: Use cached properties
  anta/_runner.py
  tests/units/test__runner.py
Due: anta

Update doc
  anta/cli/get/utils.py
  anta/input_models/configuration.py
  anta/tests/configuration.py
  docs/api/tests/configuration.md
  examples/tests.yaml
Due: anta

Make Sonar happy
  anta/decorators.py
  anta/models.py
  anta/tests/configuration.py
Due: anta

Test: Add more test
  tests/units/cli/nrfu/test__init__.py
  tests/units/test__runner.py
Due: none

Path conditions:
  anta: any of: anta/, but not: tests/**/*, docs/**/*
  asynceapi: any of: asynceapi/, but not: tests/**/*, docs/**/*
