Repository aristanetworks/anta: changes, and which pre-commit hooks are due for each by the changed paths.
All: examples-test, doc-snippets

examples-test:
  name: Generate examples/tests.yaml
  entry: sh -c "docs/scripts/generate_examples_tests.py"
  language: python
  verbose: true
  pass_filenames: false
  additional_dependencies:
  - anta[cli]
  - pydantic-settings

doc-snippets:
  name: Generate doc snippets
  entry: sh -c "docs/scripts/generate_doc_snippets.py"
  language: python
  verbose: true
  pass_filenames: false
  additional_dependencies:
  - anta[cli]
  - pydantic-settings

fix(docs): address Zensical review feedback
  docs/stylesheets/extra.zensical.css
  docs/stylesheets/glightbox-zoom.js
  zensical.toml
Due: none

fix: Treat non-running gNPSI transports as ineffective (#1745)
  anta/_advisory/facts/management.py
  anta/tests/advisories/sa_158.py
  tests/units/_advisory/facts/test_management.py
  tests/units/anta_tests/advisories/test_sa_158.py
Due: examples-test

fix: Treat disabled P4Runtime output without transport as absent (#1747)
  anta/_advisory/facts/p4_runtime.py
  tests/units/_advisory/facts/test_p4_runtime.py
  tests/units/anta_tests/advisories/test_sa_174.py
Due: examples-test

fix: Treat a closed Certz path as not affected before BootZ (#1750)
  anta/tests/advisories/sa_162.py
  tests/units/anta_tests/advisories/test_sa_162.py
Due: examples-test

Install the benchmark group in the CodSpeed workflow
  .github/workflows/codspeed.yml
Due: none

Pin pip before installing dependency groups
  .github/workflows/codspeed.yml
Due: none

Refactor: Make tox great again
  tox.toml
Due: none

ci: Trust autofix.ci commits on Renovate branches
  renovate.jsonc
Due: none

bump: Add support for Python 3.15
  .github/workflows/code-testing.yml
  .github/workflows/release.yml
  .sonarcloud.properties
  docs/contribution.md
  pyproject.toml
  tox.toml
Due: none

fix: install benchmark dependencies in tox test environments
  tox.toml
Due: none

fix: benchmark warnings (#1755)
  .github/workflows/codspeed.yml
  pyproject.toml
  tox.toml
Due: none

fix(anta.tests): assess SA158 credential logging from metadata authentication (#1746)
  anta/_advisory/facts/management.py
  anta/tests/advisories/sa_158.py
  tests/units/_advisory/facts/test_management.py
  tests/units/anta_tests/advisories/test_sa_158.py
Due: examples-test

doc(anta.tests): clarify SA158 trace observability and not-affected SPIFFE
  anta/tests/advisories/sa_158.py
Due: examples-test

fix: Treat 7368X4 as affected for SA177 revision 1.1
  anta/tests/advisories/sa_177.py
  docs/security-advisory/tests-overview.md
  tests/units/anta_tests/advisories/test_sa_177.py
Due: examples-test

test: Cover explicit null gNSI Acctz enablement
  tests/units/_advisory/facts/test_management.py
Due: none

fix: Treat 7368X4 as affected for SA177 revision 1.1 (#1767)
  anta/tests/advisories/sa_177.py
  docs/security-advisory/tests-overview.md
  tests/units/anta_tests/advisories/test_sa_177.py
Due: examples-test

test(advisory): lock nominal identity conversions
  anta/_advisory/facts/eos.py
  anta/_advisory/facts/platform.py
  tests/units/_advisory/facts/test_eos.py
  tests/units/_advisory/facts/test_platform.py
Due: examples-test

fix(anta.cli): use PSIRT-specific template report help
  anta/cli/nrfu/commands.py
  anta/cli/nrfu/utils.py
  anta/cli/psirt.py
  anta/cli/utils.py
  docs/snippets/anta_psirt_help.txt
  tests/units/cli/nrfu/test_commands.py
  tests/units/cli/test_psirt.py
Due: examples-test, doc-snippets

Guard both accounting keys before reading the methods value.
  anta/tests/aaa.py
  tests/units/anta_tests/test_aaa.py
Due: examples-test

fix: Handle absent gNSI service fields on older EOS (#1753)
  anta/_advisory/facts/management.py
  tests/units/_advisory/facts/test_management.py
Due: examples-test

ci: Trust autofix.ci commits on Renovate branches (#1763)
  renovate.jsonc
Due: none

test(benchmark): isolate CodSpeed measurement state
  tests/benchmark/conftest.py
  tests/benchmark/test_anta.py
  tests/benchmark/utils.py
  tests/units/test_benchmark_utils.py
Due: none

fix(advisory): avoid slotted dataclass super failure
  anta/_advisory/facts/management.py
Due: examples-test

test: isolate CodSpeed measurement state (#1773)
  tests/benchmark/conftest.py
  tests/benchmark/test_anta.py
  tests/benchmark/utils.py
  tests/units/test_benchmark_utils.py
Due: none

fix(anta.cli): use PSIRT-specific template report help (#1772)
  anta/cli/nrfu/commands.py
  anta/cli/nrfu/utils.py
  anta/cli/psirt.py
  anta/cli/utils.py
  docs/snippets/anta_psirt_help.txt
  tests/units/cli/nrfu/test_commands.py
  tests/units/cli/test_psirt.py
Due: examples-test, doc-snippets

doc: migrate documentation configuration to Zensical TOML (#1752)
  .github/workflows/main-doc.yml
  .github/zensical-migration.md
  .gitignore
  .pre-commit-config.yaml
  docs/stylesheets/extra.zensical.css
  docs/stylesheets/glightbox-zoom.js
  mkdocs.yml
  pyproject.toml
  zensical.toml
Due: none

ci: Use Renovate best-practices preset
  renovate.jsonc
Due: none

ci: Use Renovate best-practices preset (#1775)
  renovate.jsonc
Due: none

Update test failure message and docstrings.
  anta/input_models/aaa.py
  anta/tests/aaa.py
  tests/units/anta_tests/test_aaa.py
  tests/units/input_models/test_aaa.py
Due: examples-test

Update copyright year
  anta/input_models/aaa.py
  anta/tests/aaa.py
  tests/units/input_models/test_aaa.py
Due: examples-test

feat(advisory): add version-aware fact support
  anta/_advisory/eos_versions.py
  anta/_advisory/facts/management.py
  anta/_advisory/facts/models.py
  tests/units/_advisory/facts/test_models.py
  tests/units/anta_tests/advisories/test_sa_174.py
Due: examples-test

fix(anta.tests): Ignore method order in AAA tests (#1737)
  anta/tests/aaa.py
  tests/units/anta_tests/test_aaa.py
Due: examples-test

test(bugdb): add unit tests for bug database modules
  anta/bugdb/sysdb.py
  tests/units/bugdb/__init__.py
  tests/units/bugdb/test_aql.py
  tests/units/bugdb/test_matcher.py
  tests/units/bugdb/test_models.py
  tests/units/bugdb/test_sysdb.py
  tests/units/bugdb/test_tags.py
  tests/units/bugdb/test_version.py
Due: examples-test

feat(anta): add `anta bug` command for bug compliance analysis
  anta/bugdb/__init__.py
  anta/bugdb/aql.py
  anta/bugdb/download.py
  anta/bugdb/matcher.py
  anta/bugdb/models.py
  anta/bugdb/sysdb.py
  anta/bugdb/tags.py
  anta/bugdb/version.py
  anta/cli/_main.py
  anta/cli/bug/__init__.py
  anta/cli/bug/commands.py
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets

fix(bugdb): rewrite SysDB client to use Acons interactive shell
  anta/bugdb/sysdb.py
Due: examples-test

docs: add documentation for `anta bug` command
  docs/cli/bug.md
  docs/snippets/anta_bug_help.txt
  zensical.toml
Due: none

fix(ci): suppress pylint R-level violations in parser/interpreter code
  anta/bugdb/aql.py
  anta/bugdb/version.py
Due: examples-test

fix(ci): resolve pylint and pyright errors
  anta/bugdb/aql.py
  anta/cli/bug/__init__.py
  tests/units/bugdb/test_matcher.py
  tests/units/bugdb/test_models.py
Due: examples-test, doc-snippets

feat(cli): add `anta bug md-report` subcommand
  anta/cli/bug/__init__.py
  anta/cli/bug/commands.py
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets

Path conditions:
  examples-test: any of: anta/ and \.py$ and ^(anta|docs|scripts|tests|asynceapi)/
  doc-snippets: any of: anta/cli/ and \.py$ and ^(anta|docs|scripts|tests|asynceapi)/
