Repository aristanetworks/anta: changes, and which pre-commit hooks are due for each by the changed paths.
All: examples-test, doc-snippets

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
  autoupdate_commit_msg: "ci: pre-commit autoupdate"
  skip: [pyright]
files: ^(anta|docs|scripts|tests|asynceapi)/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: docs/.*.svg
      - id: end-of-file-fixer
      - id: check-added-large-files
        exclude: tests/data/.*$
      - id: check-merge-conflict

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - name: Check and insert license on Python files
        id: insert-license
        # exclude:
        files: .*\.py$
        args:
          - --license-filepath
          - .github/license-short.txt
          - --use-current-year
          - --allow-past-years
          - --fuzzy-match-generates-todo
          - --no-extra-eol

      - name: Check and insert license on Markdown files
        id: insert-license
        files: .*\.md$
        exclude: ^tests/data/.*\.md$
        args:
          - --license-filepath
          - .github/license-short.txt
          - --use-current-year
          - --allow-past-years
          - --fuzzy-match-generates-todo
          - --comment-style
          - "<!--|  ~|  -->"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        name: Run Ruff linter
        args: [--fix]
      - id: ruff-format
        name: Run Ruff formatter

  - repo: https://github.com/pycqa/pylint
    rev: "v4.0.4"
    hooks:
      - id: pylint
        name: Check code style with pylint
        description: This hook runs pylint.
        types: [python]
        args:
          - -rn # Only display messages
          - -sn # Don't display the score
          - --rcfile=pyproject.toml # Link to config file
        additional_dependencies:
          - anta[cli]
          - types-PyYAML
          - types-requests
          - types-pyOpenSSL
          - pylint_pydantic
          - pytest
          - pytest-codspeed!=4.1.0
          - respx
          - pydantic-settings

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]
        args: ["--ignore-words", ".codespellignore"]

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.408
    hooks:
      - id: pyright
        name: PyRight static type checker
        types: [python]
        additional_dependencies:
          - anta[cli]
          - 'pytest>=8.2.0'
          - respx
          - types-PyYAML
          - types-requests
          - types-pyOpenSSL
        files: ^(anta|tests|asynceapi)/

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        name: Check for Linting errors on Markdown files.
        args:
          - --config
          - .github/.markdownlint-cli2.yaml

  - repo: local
    hooks:
      - id: examples-test
        name: Generate examples/tests.yaml
        entry: >-
          sh -c "docs/scripts/generate_examples_tests.py"
        language: python
        types: [python]
        files: anta/
        verbose: true
        pass_filenames: false
        additional_dependencies:
          - anta[cli]
          - pydantic-settings
      - id: doc-snippets
        name: Generate doc snippets
        entry: >-
          sh -c "docs/scripts/generate_doc_snippets.py"
        language: python
        types: [python]
        files: anta/cli/
        verbose: true
        pass_filenames: false
        additional_dependencies:
          - anta[cli]
          - pydantic-settings

fix(anta): apply connectivity timeout to session login
  asynceapi/_auth.py
  asynceapi/_constants.py
  asynceapi/device.py
  tests/units/asynceapi/test__auth.py
Due: none

fix(anta): apply connectivity timeout to session login (#1733)
  asynceapi/_auth.py
  asynceapi/_constants.py
  asynceapi/device.py
  tests/units/asynceapi/test__auth.py
Due: none

doc: clarify --timeout scope in FAQ
  docs/faq.md
Due: none

refactor(anta.cli): Add better spinner for anta psirt (#1665)
  anta/cli/nrfu/__init__.py
  anta/cli/nrfu/utils.py
  anta/cli/psirt.py
  tests/units/cli/nrfu/test_commands.py
  tests/units/cli/test_psirt.py
Due: examples-test, doc-snippets

doc: refresh Getting Started examples (#1729)
  docs/getting-started.md
  docs/imgs/getting-started/anta_nrfu_json.svg
  docs/imgs/getting-started/anta_nrfu_table.svg
  docs/imgs/getting-started/anta_nrfu_text.svg
  docs/snippets/getting-started/anta_nrfu_json.output
  docs/snippets/getting-started/anta_nrfu_table.output
  docs/snippets/getting-started/anta_nrfu_text.output
  docs/snippets/getting-started/catalog.yml
  docs/snippets/getting-started/inventory.yml
Due: none

doc: refresh NRFU examples (#1730)
  docs/cli/nrfu.md
  docs/imgs/anta-nrfu-md-report-output.png
  docs/imgs/anta-nrfu-tpl-report-output.png
  docs/imgs/anta_nrfu___dry_run.svg
  docs/imgs/anta_nrfu_csv.png
  docs/imgs/anta_nrfu_device_dc1leaf1a_text.svg
  docs/imgs/anta_nrfu_device_dc1spine1_table.svg
  docs/imgs/anta_nrfu_dryrun.svg
  docs/imgs/anta_nrfu_table_groupby_device.svg
  docs/imgs/anta_nrfu_table_groupby_test.svg
  docs/imgs/anta_nrfu_tags_LEAF_json.svg
  docs/imgs/anta_nrfu_tags_LEAF_table.svg
  docs/imgs/anta_nrfu_tags_leaf_csv_csvoutput_nrfucsv.svg
  docs/imgs/anta_nrfu_tags_leaf_json.svg
  docs/imgs/anta_nrfu_tags_leaf_mdreport_mdoutput_nrfumd.svg
  docs/imgs/anta_nrfu_tags_leaf_table.svg
  docs/imgs/anta_nrfu_tags_leaf_tplreport_template__custom_templatej2.svg
  docs/imgs/anta_nrfu_test_VerifyZeroTouch_table.svg
Due: none

make AAA method comparisons order-independent
  anta/tests/aaa.py
  tests/units/anta_tests/test_aaa.py
Due: examples-test

doc: clarify inventory tag examples
  docs/cli/get-inventory-information.md
  docs/cli/tag-management.md
  docs/imgs/anta_get_inventory_tags_dc1spine1.svg
Due: none

doc: refresh catalog and test extension examples
  docs/advanced_usages/custom-tests.md
  docs/fixtures/anta_custom/__init__.py
  docs/fixtures/anta_custom/dc_project.py
  docs/imgs/anta_nrfu_device_dc1spine1_catalog_docs_snippets_atomicresultscatalogyml_table.svg
  docs/imgs/anta_nrfu_device_dc1spine1_catalog_docs_snippets_atomicresultscatalogyml_table_expand.svg
  docs/imgs/anta_nrfu_device_dc1spine1_catalog_docs_snippets_customtestscatalogyml_text.svg
  docs/imgs/anta_nrfu_device_dc1spine1_catalog_docs_snippets_resultoverwritecatalogyml_table.svg
  docs/imgs/anta_nrfu_table.svg
  docs/imgs/anta_nrfu_table_expand.svg
  docs/snippets/api_tests_overview.txt
  docs/snippets/atomic-results-catalog.yml
  docs/snippets/custom-tests-catalog.yml
  docs/snippets/result-overwrite-catalog.yml
  docs/usage-inventory-catalog.md
Due: none

doc: refresh operational CLI examples (#1731)
  docs/cli/check.md
  docs/cli/debug.md
  docs/cli/exec.md
  docs/cli/get-inventory-information.md
  docs/cli/get-tests.md
  docs/cli/inv-from-ansible.md
  docs/cli/tag-management.md
  docs/imgs/anta_check_catalog_catalog_docs_snippets_gettingstarted_catalogyml.svg
  docs/imgs/anta_debug_ping_dc1_spine1.svg
  docs/imgs/anta_debug_ping_duplicate_params_dc1_spine1.svg
  docs/imgs/anta_debug_run_cmd_dc1_spine1.svg
  docs/imgs/anta_debug_run_template_dc1_leaf1a.svg
  docs/imgs/anta_exec_collecttechsupport_insecure_tags_spine_latest_1_configure.svg
  docs/imgs/anta_exec_snapshot_tags_spine_commandslist__commandsyaml_output__anta_snapshot.svg
  docs/imgs/anta_get_commands.svg
  docs/imgs/anta_get_commands_catalog_docs_snippets_gettingstarted_catalogyml.svg
  docs/imgs/anta_get_commands_catalog_docs_snippets_gettingstarted_catalogyml_unique.svg
  docs/imgs/anta_get_commands_module_antatestsstun.svg
  docs/imgs/anta_get_commands_test_VerifyBGPExchangedRoutes.svg
  docs/imgs/anta_get_commands_test_VerifyTacacs.svg
  docs/imgs/anta_get_fromansible_ansibleinventory_docs_snippets_ansibleinventoryyml_ansiblegroup_endpoints_output_antainventoryyml_overwrite.svg
  docs/imgs/anta_get_inventory_tags_dc1spine1.svg
  docs/imgs/anta_get_inventory_tags_spine.svg
  docs/imgs/anta_get_tags.svg
  docs/imgs/anta_get_tests.svg
  docs/imgs/anta_get_tests_count.svg
  docs/imgs/anta_get_tests_module_antatestsstun.svg
  docs/imgs/anta_get_tests_test_VerifyTacacs.svg
  docs/imgs/anta_get_tests_test_VerifyTacacsSourceIntf.svg
  docs/imgs/anta_nrfu_tags_leaf_spine_text.svg
  docs/imgs/anta_nrfu_tags_leaf_text.svg
  docs/snippets/ansible-inventory.yml
  docs/snippets/anta-inventory-from-ansible.yml
  tests/docs/test_doc_output_examples.py
Due: none

doc: correct CLI output tree counts
  docs/cli/exec.md
Due: none

Fix cognetive complexity issues
  anta/input_models/aaa.py
  anta/tests/aaa.py
  docs/api/tests/aaa.md
  tests/units/anta_tests/test_aaa.py
  tests/units/input_models/test_aaa.py
Due: examples-test

doc: document output snapshot maintenance
  .github/documentation-output-snapshots.md
  README.md
  tests/docs/test_doc_output_examples.py
Due: none

doc: refresh security advisory examples
  docs/imgs/anta_psirt_mdreport_mdoutput_psirtmd.svg
  docs/imgs/anta_psirt_test_SA117_mdreport_mdoutput_sa117md.svg
  docs/scripts/generate_snippet.py
  docs/security-advisory/lab.md
  docs/security-advisory/tests-overview.md
  docs/security-advisory/usage.md
  docs/stylesheets/extra.zensical.css
  tests/docs/test_generate_snippet.py
Due: none

fix after conflicts
  anta/tests/aaa.py
Due: examples-test

refactor(advisory): prototype nominal typed facts
  anta/_advisory/facts/models.py
  anta/_advisory/facts/routing.py
  anta/_advisory/findings/models.py
  anta/tests/advisories/sa_154.py
  tests/units/_advisory/facts/test_routing.py
  tests/units/anta_tests/advisories/test_sa_154.py
Due: examples-test

doc: simplify security advisory report guidance
  docs/security-advisory/reports.md
  docs/security-advisory/usage.md
  mkdocs.yml
Due: none

fix(bugdb): rewrite SysDB client to use Acons interactive shell
  anta/bugdb/sysdb.py
Due: examples-test

feat(anta): add `anta bug` command for bug compliance analysis
  anta/bugdb/__init__.py
  anta/bugdb/aql.py
  anta/bugdb/download.py
  anta/bugdb/matcher.py
  anta/bugdb/models.py
  anta/bugdb/sysdb.py
  anta/bugdb/tags.py
  anta/bugdb/version.py
  anta/cli/_main.py
  anta/cli/bug/__init__.py
  anta/cli/bug/commands.py
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets

feat(cli): add `anta bug md-report` subcommand
  anta/cli/bug/__init__.py
  anta/cli/bug/commands.py
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets

test(bugdb): add unit tests for bug database modules
  anta/bugdb/sysdb.py
  tests/units/bugdb/__init__.py
  tests/units/bugdb/test_aql.py
  tests/units/bugdb/test_matcher.py
  tests/units/bugdb/test_models.py
  tests/units/bugdb/test_sysdb.py
  tests/units/bugdb/test_tags.py
  tests/units/bugdb/test_version.py
Due: examples-test

docs: add documentation for `anta bug` command
  docs/cli/bug.md
  docs/snippets/anta_bug_help.txt
  mkdocs.yml
Due: none

test(cli): add integration tests for `anta bug` with mocked eAPI
  tests/data/test_alertbase.json
  tests/units/cli/bug/__init__.py
  tests/units/cli/bug/test_commands.py
  tests/units/cli/conftest.py
Due: none

fix(ci): resolve pylint and pyright errors
  anta/bugdb/aql.py
  anta/cli/bug/__init__.py
  tests/units/bugdb/test_matcher.py
  tests/units/bugdb/test_models.py
Due: examples-test, doc-snippets

fix(ci): suppress pylint R-level violations in parser/interpreter code
  anta/bugdb/aql.py
  anta/bugdb/version.py
Due: examples-test

test(bugdb): increase test coverage for codecov
  tests/units/bugdb/test_aql.py
  tests/units/bugdb/test_download.py
Due: none

refactor(bugdb): reduce cognitive complexity for SonarCloud
  anta/bugdb/aql.py
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets

fix(ci): resolve pre-commit codespell and markdownlint errors
  anta/bugdb/version.py
  docs/cli/bug.md
  tests/units/bugdb/test_version.py
Due: examples-test

fix(ci): resolve tox lint and type errors in tests
  tests/units/bugdb/test_aql.py
  tests/units/bugdb/test_matcher.py
  tests/units/bugdb/test_models.py
  tests/units/bugdb/test_sysdb.py
  tests/units/bugdb/test_tags.py
  tests/units/cli/conftest.py
Due: none

fix(bugdb): remove trailing dot from arista.com hostname
  anta/bugdb/download.py
Due: examples-test

fix(bugdb): use correct arista.com AlertBase download API
  anta/bugdb/download.py
  tests/units/bugdb/test_download.py
Due: examples-test

fix(ci): resolve SonarCloud and codecov failures
  anta/bugdb/aql.py
  anta/bugdb/download.py
  anta/bugdb/sysdb.py
  anta/bugdb/version.py
  tests/units/bugdb/test_aql.py
  tests/units/bugdb/test_sysdb.py
  tests/units/bugdb/test_tags.py
  tests/units/bugdb/test_version.py
Due: examples-test

refactor(device): add version attribute to AntaDevice
  anta/bugdb/__init__.py
  tests/conftest.py
Due: examples-test

fix(bugdb): address remaining CodeRabbit review comments
  anta/bugdb/aql.py
  anta/bugdb/sysdb.py
  tests/units/bugdb/test_aql.py
  tests/units/bugdb/test_models.py
Due: examples-test

fix(tests): update integration test for show version mock with version field
  tests/integration/test_run_eos_commands.py
Due: none

fix(bugdb): address CodeRabbit review items 1-11
  anta/bugdb/__init__.py
  anta/bugdb/aql.py
  anta/bugdb/sysdb.py
  anta/bugdb/tags.py
  anta/bugdb/version.py
  anta/cli/bug/utils.py
  docs/cli/bug.md
  docs/snippets/anta_bug_help.txt
  tests/units/bugdb/test_sysdb.py
  tests/units/bugdb/test_version.py
  tests/units/cli/bug/test_commands.py
Due: examples-test, doc-snippets

fix(bugdb): clean up log messages for bug database loading
  anta/bugdb/__init__.py
  anta/bugdb/download.py
Due: examples-test

fix(cli): catch database loading errors with user-friendly message
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets

test(bugdb): add substring boundary case for _is_nofixyet
  tests/units/bugdb/test_version.py
Due: none

feat(cli): add --target-version option and Fixed In column to anta bug
  anta/cli/bug/__init__.py
  anta/cli/bug/commands.py
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets
