Repository aristanetworks/anta: changes, and which pre-commit hooks are due for each by the changed paths.
All: examples-test, doc-snippets

examples-test:
  name: Generate examples/tests.yaml
  entry: sh -c "docs/scripts/generate_examples_tests.py"
  language: python
  verbose: true
  pass_filenames: false
  additional_dependencies:
  - anta[cli]
  - pydantic-settings

doc-snippets:
  name: Generate doc snippets
  entry: sh -c "docs/scripts/generate_doc_snippets.py"
  language: python
  verbose: true
  pass_filenames: false
  additional_dependencies:
  - anta[cli]
  - pydantic-settings

Added more tests
  docs/api/tests/configuration.md
  tests/units/anta_tests/test_configuration.py
  tests/units/input_models/test_configuration.py
Due: none

Change section not found failure message
  anta/tests/configuration.py
  tests/units/anta_tests/test_configuration.py
Due: examples-test

feat(anta.tests): Added VerifyRunningConfig test to verify running-config entries within specific configuration sections or across the entire running-configuration (#1169)
  anta/cli/get/utils.py
  anta/decorators.py
  anta/input_models/configuration.py
  anta/tests/configuration.py
  docs/api/tests/configuration.md
  docs/templates/python/material/class.html.jinja
  examples/tests.yaml
  tests/units/anta_tests/test_configuration.py
  tests/units/input_models/test_configuration.py
Due: examples-test, doc-snippets

Fix(anta): Handle asyncssh errors gracefully
  anta/cli/exec/utils.py
  tests/units/cli/exec/test_utils.py
Due: examples-test, doc-snippets

Update imports
  anta/cli/exec/utils.py
Due: examples-test, doc-snippets

Make Rabbit happy
  anta/cli/exec/utils.py
  tests/units/cli/exec/test_utils.py
Due: examples-test, doc-snippets

Make Sonar happy
  anta/cli/exec/utils.py
Due: examples-test, doc-snippets

Fix debug logs
  anta/cli/exec/utils.py
Due: examples-test, doc-snippets

Make Sonar happy again
  anta/cli/exec/utils.py
Due: examples-test, doc-snippets

fix(bugdb): stop wrapping SysDB values to fix AQL direct comparisons
  anta/bugdb/aql.py
  anta/bugdb/sysdb.py
  tests/units/bugdb/test_aql.py
  tests/units/bugdb/test_sysdb.py
Due: examples-test

Refactor: Use cached_property and update doc
  .gitignore
  anta/_runner.py
  anta/cli/nrfu/__init__.py
  anta/device.py
  docs/cli/overview.md
  docs/snippets/anta_nrfu_help.txt
Due: examples-test, doc-snippets

Refactor: Add missed AsyncSSH error
  anta/cli/exec/utils.py
  tests/units/cli/exec/test_utils.py
Due: examples-test, doc-snippets

Refactor: Make disconnect default for CLI because the runner should own the inventory in that case
  anta/_runner.py
  anta/cli/nrfu/__init__.py
  docs/advanced_usages/as-python-lib.md
  docs/cli/overview.md
  docs/snippets/anta_nrfu_help.txt
  tests/units/cli/nrfu/test__init__.py
Due: examples-test, doc-snippets

Refactor: Address UsageError catch and augment coverage
  anta/cli/exec/utils.py
  tests/units/cli/exec/test_utils.py
Due: examples-test, doc-snippets

Refactor: Tell SONAR no.
  anta/cli/exec/utils.py
Due: examples-test, doc-snippets

Refactor: Sonar churn
  anta/cli/exec/utils.py
Due: examples-test, doc-snippets

fix(anta): Handle asyncssh errors gracefully (#1532)
  anta/cli/exec/utils.py
  tests/units/cli/exec/test_utils.py
Due: examples-test, doc-snippets

refactor(sysdb): parse Acons output on-device and return JSON
  anta/bugdb/sysdb.py
  tests/units/bugdb/test_sysdb.py
  tests/units/cli/conftest.py
Due: examples-test

Doc: Messed up titles
  docs/api/tests/configuration.md
Due: none

Test: Fix test after refactor
  tests/units/cli/exec/test_utils.py
Due: none

doc: Messed up titles (#1533)
  docs/api/tests/configuration.md
Due: none

Update anta/device.py
  anta/device.py
Due: examples-test

CI: Use AVD workflow for PR release notes labeler
  .github/TODO.md
  .github/actions/rn-pr-labeler-action/action.yml
  .github/generate_release.py
  .github/release.yml
  .github/workflows/pull-request-rn-labeler.yml
Due: none

ci: Cleanup rennovate
  renovate.json
Due: none

Refactor: Address PR comments
  anta/_runner.py
  anta/device.py
  anta/inventory/__init__.py
  asynceapi/_models.py
  tests/units/inventory/test__init__.py
  tests/units/test__runner.py
  tests/units/test_device.py
Due: examples-test

Update docstrings
  anta/device.py
  tests/units/test_device.py
Due: examples-test

fix(anta): ResourceWarning when ANTA CLI is completed (#1517)
  .gitignore
  anta/_runner.py
  anta/cli/exec/utils.py
  anta/cli/nrfu/__init__.py
  anta/cli/nrfu/utils.py
  anta/device.py
  anta/inventory/__init__.py
  anta/runner.py
  asynceapi/_models.py
  docs/advanced_usages/as-python-lib.md
  docs/cli/overview.md
  docs/snippets/anta_nrfu_help.txt
  tests/units/cli/exec/test_utils.py
  tests/units/cli/nrfu/test__init__.py
  tests/units/inventory/test__init__.py
  tests/units/test__runner.py
  tests/units/test_device.py
  tests/units/test_runner.py
  tests/units/test_settings.py
Due: examples-test, doc-snippets

ci: Use aristanetwork/avd common rn labeler workflow instead of local action (#1529)
  .github/TODO.md
  .github/actions/rn-pr-labeler-action/action.yml
  .github/generate_release.py
  .github/release.yml
  .github/workflows/pull-request-rn-labeler.yml
Due: none

Add use session to models
  anta/_runner.py
  anta/device.py
  anta/inventory/__init__.py
  asynceapi/_models.py
  tests/units/inventory/test_models.py
Due: examples-test

addressed comments from coderabbit
  asynceapi/_models.py
Due: none

refactor(sysdb): replace Acons with PyClient for direct SysDB access
  anta/bugdb/sysdb.py
  tests/units/bugdb/test_sysdb.py
  tests/units/cli/conftest.py
Due: examples-test

feat(bugdb): add TerminAttr CVE bug detection
  anta/bugdb/__init__.py
  anta/bugdb/matcher.py
  anta/bugdb/models.py
  anta/bugdb/version.py
  anta/cli/bug/utils.py
  tests/units/bugdb/test_matcher.py
  tests/units/bugdb/test_version.py
Due: examples-test, doc-snippets

suppress sonar warning
  anta/device.py
Due: examples-test

Apply suggestion from @gmuloc
  renovate.jsonc
Due: none

Refactor: Use the correct team
  renovate.jsonc
Due: none

fix(sysdb): use EXIT trap for temp file cleanup and narrow SysDB mock
  anta/bugdb/sysdb.py
  tests/units/cli/bug/test_utils.py
  tests/units/cli/conftest.py
Due: examples-test

Apply suggestion from @gmuloc
  pyproject.toml
Due: none

Path conditions:
  examples-test: any of: anta/ and \.py$ and ^(anta|docs|scripts|tests|asynceapi)/
  doc-snippets: any of: anta/cli/ and \.py$ and ^(anta|docs|scripts|tests|asynceapi)/
