Repository aristanetworks/anta: changes, and which pre-commit hooks are due for each by the changed paths.
All: examples-test, doc-snippets

examples-test:
  name: Generate examples/tests.yaml
  entry: sh -c "docs/scripts/generate_examples_tests.py"
  language: python
  verbose: true
  pass_filenames: false
  additional_dependencies:
  - anta[cli]
  - pydantic-settings

doc-snippets:
  name: Generate doc snippets
  entry: sh -c "docs/scripts/generate_doc_snippets.py"
  language: python
  verbose: true
  pass_filenames: false
  additional_dependencies:
  - anta[cli]
  - pydantic-settings

pre-commit fixes!
  docs/snippets/anta_help.txt
  docs/snippets/anta_sat_help.txt
Due: none

Fix TypeError in VerifyOSPFMaxLSA test
  anta/tests/routing/ospf.py
  tests/units/anta_tests/routing/test_ospf.py
Due: examples-test

fix: Test VerifyBFDPeersIntervals TypeError
  anta/tests/bfd.py
  tests/units/anta_tests/test_bfd.py
Due: examples-test

fix: Test VerifyInterfacesCounterDetails TypeError
  anta/tests/interfaces.py
  tests/units/anta_tests/test_interfaces.py
Due: examples-test

fix: Test VerifyAuthenMethods
  anta/tests/aaa.py
  tests/units/anta_tests/test_aaa.py
Due: examples-test

Update failure message
  anta/tests/routing/ospf.py
  tests/units/anta_tests/routing/test_ospf.py
Due: examples-test

refactor(anta): Move platform to AntaDevice facts
  anta/_advisory/platforms.py
  anta/_eos/platform.py
  anta/device.py
  anta/tests/advisories/sa_142.py
  docs/advanced_usages/as-python-lib.md
  docs/api/class-diagram.mmd
  docs/cli/get-inventory-information.md
  docs/contribution.md
  tests/units/_advisory/test_platforms.py
  tests/units/_eos/test_platform.py
  tests/units/anta_tests/__init__.py
  tests/units/anta_tests/advisories/test_sa_142.py
  tests/units/test_device.py
Due: examples-test

refactor: Add docstrings and better typing
  anta/_eos/platform.py
  anta/device.py
  tests/units/_eos/test_platform.py
  tests/units/test_device.py
Due: examples-test

test(platform): Cover EOS platform parsing branches
  tests/units/_eos/test_platform.py
Due: none

ci: Manage documentation version lifecycle
  .github/workflows/main-doc.yml
  .github/workflows/release.yml
  docs/scripts/manage_doc_versions.py
  pyproject.toml
  tests/units/test_manage_doc_versions.py
Due: none

Added interface validator in custom_types
  anta/custom_types.py
  anta/input_models/interfaces.py
  anta/tests/interfaces.py
Due: examples-test

refactor(platform): retain module inventory by role
  anta/_eos/platform.py
  anta/device.py
  anta/tests/advisories/sa_142.py
  docs/advanced_usages/as-python-lib.md
  docs/api/class-diagram.mmd
  tests/units/_eos/test_platform.py
  tests/units/test_device.py
Due: examples-test

refactor: Change the output format
  anta/_eos/parsing.py
  anta/_eos/platform.py
  anta/device.py
  anta/tests/advisories/sa_142.py
  docs/advanced_usages/as-python-lib.md
  tests/units/_eos/test_platform.py
  tests/units/anta_tests/__init__.py
  tests/units/anta_tests/advisories/test_sa_142.py
  tests/units/test_device.py
Due: examples-test

Add identifier uniqueness
  docs/scripts/manage_doc_versions.py
  tests/units/test_manage_doc_versions.py
Due: none

refactor: Update platform matches
  anta/_eos/platform.py
  anta/device.py
  anta/tests/advisories/sa_142.py
  tests/units/_eos/test_platform.py
  tests/units/anta_tests/advisories/test_sa_142.py
  tests/units/test_device.py
Due: examples-test

fix: Test VerifyOSPFMaxLSA - TypeError (#1672)
  anta/tests/routing/ospf.py
  tests/units/anta_tests/routing/test_ospf.py
Due: examples-test

ci: Address documentation deployment review
  .github/workflows/main-doc.yml
  .github/workflows/release.yml
  docs/scripts/deploy_doc_version.sh
Due: none

refactor: Address coderabbit and Claus comments
  anta/tests/advisories/sa_142.py
  docs/contribution.md
  tests/units/anta_tests/__init__.py
  tests/units/anta_tests/advisories/test_sa_117.py
  tests/units/anta_tests/advisories/test_sa_140.py
  tests/units/anta_tests/advisories/test_sa_142.py
  tests/units/anta_tests/advisories/test_sa_146.py
  tests/units/anta_tests/advisories/test_sa_147.py
Due: examples-test

refactor(anta): Move platform to AntaDevice facts (#1676)
  anta/_advisory/platforms.py
  anta/_eos/parsing.py
  anta/_eos/platform.py
  anta/device.py
  anta/tests/advisories/sa_142.py
  docs/advanced_usages/as-python-lib.md
  docs/api/class-diagram.mmd
  docs/cli/get-inventory-information.md
  docs/contribution.md
  tests/units/_advisory/test_platforms.py
  tests/units/_eos/test_platform.py
  tests/units/anta_tests/__init__.py
  tests/units/anta_tests/advisories/test_sa_117.py
  tests/units/anta_tests/advisories/test_sa_140.py
  tests/units/anta_tests/advisories/test_sa_142.py
  tests/units/anta_tests/advisories/test_sa_146.py
  tests/units/anta_tests/advisories/test_sa_147.py
  tests/units/test_device.py
Due: examples-test

feat(anta): [PREVIEW] Add anta psirt table view
  anta/_advisory/reporter/reporting.py
  anta/_advisory/reporter/table_reporter.py
  anta/cli/nrfu/__init__.py
  anta/cli/psirt.py
  docs/cli/psirt.md
  docs/scripts/generate_doc_snippets.py
  docs/security-advisory-reports.md
  docs/snippets/anta_psirt_help.txt
  docs/snippets/anta_psirt_table_help.txt
  tests/units/_advisory/test_table_reporter.py
  tests/units/cli/test_psirt.py
Due: examples-test, doc-snippets

fix(anta): Refine PSIRT table report
  anta/_advisory/reporter/table_reporter.py
  docs/cli/psirt.md
  docs/security-advisory-reports.md
  tests/units/_advisory/test_table_reporter.py
Due: examples-test

refactor: Update tables
  anta/_advisory/reporter/md_reporter.py
  anta/_advisory/reporter/reporting.py
  anta/_advisory/reporter/table_reporter.py
  anta/cli/psirt.py
  docs/cli/psirt.md
  docs/security-advisory-reports.md
  tests/units/_advisory/test_table_reporter.py
  tests/units/cli/test_psirt.py
Due: examples-test, doc-snippets

ci: Retain queued documentation deployments
  .github/workflows/main-doc.yml
  .github/workflows/release.yml
Due: none

refactor(anta): Use typed EOS version parse results
  anta/_advisory/eos_versions.py
  anta/_eos/version.py
  anta/device.py
  tests/units/_advisory/test_eos_versions.py
  tests/units/_eos/test_version.py
  tests/units/anta_tests/__init__.py
  tests/units/anta_tests/advisories/test_sa_117.py
  tests/units/anta_tests/advisories/test_sa_140.py
  tests/units/anta_tests/advisories/test_sa_142.py
  tests/units/anta_tests/advisories/test_sa_146.py
  tests/units/anta_tests/advisories/test_sa_147.py
  tests/units/test_device.py
Due: examples-test

fix(anta): classify 720XPM in 722XPM family
  anta/_eos/platform.py
  tests/units/_eos/test_platform.py
  tests/units/anta_tests/advisories/test_sa_142.py
Due: examples-test

fix(anta): Classify 720XPM in 722XPM family (#1681)
  anta/_eos/platform.py
  tests/units/_eos/test_platform.py
  tests/units/anta_tests/advisories/test_sa_142.py
Due: examples-test

Refactor(anta): Use structured results for advisory tests
  anta/_advisory/base.py
  anta/_advisory/facts/__init__.py
  anta/_advisory/facts/eos.py
  anta/_advisory/facts/models.py
  anta/_advisory/findings/__init__.py
  anta/_advisory/findings/models.py
  anta/_advisory/findings/projection.py
  anta/tests/advisories/sa_140.py
  tests/units/_advisory/facts/__init__.py
  tests/units/_advisory/facts/test_eos.py
  tests/units/_advisory/facts/test_models.py
  tests/units/_advisory/findings/__init__.py
  tests/units/_advisory/findings/test_projection.py
  tests/units/_advisory/test_base.py
  tests/units/anta_tests/advisories/test_sa_140.py
Due: examples-test

fix(advisories): preserve fact command wrappers
  anta/_advisory/base.py
  tests/units/_advisory/test_base.py
  tests/units/anta_tests/advisories/test_sa_117.py
  tests/units/anta_tests/advisories/test_sa_146.py
  tests/units/anta_tests/advisories/test_sa_147.py
Due: examples-test

refactor(advisories): model affected conditions
  anta/_advisory/findings/models.py
  anta/_advisory/findings/projection.py
  anta/tests/advisories/sa_117.py
  anta/tests/advisories/sa_140.py
  anta/tests/advisories/sa_142.py
  anta/tests/advisories/sa_146.py
  anta/tests/advisories/sa_147.py
  tests/units/_advisory/findings/test_projection.py
  tests/units/anta_tests/advisories/test_sa_140.py
  tests/units/anta_tests/advisories/test_sa_146.py
  tests/units/anta_tests/advisories/test_sa_147.py
Due: examples-test

Update the rest of the SAs to structured results
  anta/_advisory/base.py
  anta/_advisory/facts/eos.py
  anta/_advisory/facts/management.py
  anta/_advisory/facts/models.py
  anta/_advisory/facts/platform.py
  anta/_advisory/facts/redirection.py
  anta/_advisory/facts/software.py
  anta/_advisory/facts/ssh.py
  anta/_advisory/facts/terminattr.py
  anta/_advisory/findings/models.py
  anta/_advisory/findings/projection.py
  anta/tests/advisories/sa_117.py
  anta/tests/advisories/sa_142.py
  anta/tests/advisories/sa_146.py
  anta/tests/advisories/sa_147.py
  tests/units/_advisory/facts/test_eos.py
  tests/units/_advisory/facts/test_models.py
  tests/units/_advisory/findings/test_projection.py
  tests/units/anta_tests/advisories/test_sa_117.py
  tests/units/anta_tests/advisories/test_sa_142.py
  tests/units/anta_tests/advisories/test_sa_146.py
  tests/units/anta_tests/advisories/test_sa_147.py
Due: examples-test

fix(advisories): preserve individual fact sources
  anta/_advisory/facts/management.py
  anta/_advisory/findings/projection.py
  tests/units/_advisory/findings/test_projection.py
  tests/units/anta_tests/advisories/test_sa_146.py
Due: examples-test

test(advisory): narrow expected exception scopes
  tests/units/_advisory/facts/test_eos.py
  tests/units/_advisory/findings/test_projection.py
Due: none

refactor(advisory): normalize gNMI output once
  anta/_advisory/facts/management.py
  tests/units/anta_tests/advisories/test_sa_146.py
Due: examples-test

fix(advisory): separate SSH parsing from fact evaluation
  anta/_advisory/base.py
  anta/_advisory/facts/ssh.py
  tests/units/_advisory/test_base.py
  tests/units/anta_tests/advisories/test_sa_147.py
Due: examples-test

refactor: Address comments
  anta/_advisory/facts/platform.py
  anta/tests/advisories/sa_142.py
  tests/units/anta_tests/advisories/test_sa_117.py
  tests/units/anta_tests/advisories/test_sa_142.py
Due: examples-test

refactor(advisory): unify command fact definitions
  anta/_advisory/facts/eos.py
  anta/_advisory/facts/management.py
  anta/_advisory/facts/models.py
  anta/_advisory/facts/redirection.py
  anta/_advisory/facts/software.py
  anta/_advisory/facts/ssh.py
  anta/_advisory/facts/terminattr.py
  tests/units/_advisory/facts/test_eos.py
  tests/units/_advisory/test_base.py
  tests/units/anta_tests/advisories/test_sa_117.py
  tests/units/anta_tests/advisories/test_sa_140.py
  tests/units/anta_tests/advisories/test_sa_142.py
  tests/units/anta_tests/advisories/test_sa_146.py
  tests/units/anta_tests/advisories/test_sa_147.py
Due: examples-test

refactor(advisories): use device platform identity
  anta/_advisory/facts/models.py
  anta/_advisory/facts/platform.py
  anta/_advisory/findings/models.py
  anta/tests/advisories/sa_142.py
  tests/units/anta_tests/advisories/test_sa_140.py
  tests/units/anta_tests/advisories/test_sa_142.py
Due: examples-test

test(advisory): preserve 720XPM scope coverage
  tests/units/anta_tests/advisories/test_sa_142.py
Due: none

Remove unused mitigation name field
  anta/_advisory/facts/management.py
  anta/_advisory/facts/models.py
  anta/_advisory/facts/redirection.py
  anta/_advisory/facts/ssh.py
  anta/_advisory/facts/terminattr.py
  tests/units/_advisory/findings/test_projection.py
  tests/units/anta_tests/advisories/test_sa_142.py
  tests/units/anta_tests/advisories/test_sa_146.py
  tests/units/anta_tests/advisories/test_sa_147.py
Due: examples-test

ci: Manage documentation version lifecycle (#1677)
  .github/workflows/main-doc.yml
  .github/workflows/release.yml
  docs/scripts/deploy_doc_version.sh
  docs/scripts/manage_doc_versions.py
  pyproject.toml
  tests/units/test_manage_doc_versions.py
Due: none

Path conditions:
  examples-test: any of: anta/ and \.py$ and ^(anta|docs|scripts|tests|asynceapi)/
  doc-snippets: any of: anta/cli/ and \.py$ and ^(anta|docs|scripts|tests|asynceapi)/
