Repository aristanetworks/anta: changes, and which pre-commit hooks are due for each by the changed paths.
All: examples-test, doc-snippets

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
  autoupdate_commit_msg: "ci: pre-commit autoupdate"
  skip: [pyright]
files: ^(anta|docs|scripts|tests|asynceapi)/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: docs/.*.svg
      - id: end-of-file-fixer
      - id: check-added-large-files
        exclude: tests/data/.*$
      - id: check-merge-conflict

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - name: Check and insert license on Python files
        id: insert-license
        # exclude:
        files: .*\.py$
        args:
          - --license-filepath
          - .github/license-short.txt
          - --use-current-year
          - --allow-past-years
          - --fuzzy-match-generates-todo
          - --no-extra-eol

      - name: Check and insert license on Markdown files
        id: insert-license
        files: .*\.md$
        exclude: ^tests/data/.*\.md$
        args:
          - --license-filepath
          - .github/license-short.txt
          - --use-current-year
          - --allow-past-years
          - --fuzzy-match-generates-todo
          - --comment-style
          - "<!--|  ~|  -->"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        name: Run Ruff linter
        args: [--fix]
      - id: ruff-format
        name: Run Ruff formatter

  - repo: https://github.com/pycqa/pylint
    rev: "v4.0.4"
    hooks:
      - id: pylint
        name: Check code style with pylint
        description: This hook runs pylint.
        types: [python]
        args:
          - -rn # Only display messages
          - -sn # Don't display the score
          - --rcfile=pyproject.toml # Link to config file
        additional_dependencies:
          - anta[cli]
          - types-PyYAML
          - types-requests
          - types-pyOpenSSL
          - pylint_pydantic
          - pytest
          - pytest-codspeed!=4.1.0
          - respx
          - pydantic-settings

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]
        args: ["--ignore-words", ".codespellignore"]

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.408
    hooks:
      - id: pyright
        name: PyRight static type checker
        types: [python]
        additional_dependencies:
          - anta[cli]
          - 'pytest>=8.2.0'
          - respx
          - types-PyYAML
          - types-requests
          - types-pyOpenSSL
        files: ^(anta|tests|asynceapi)/

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        name: Check for Linting errors on Markdown files.
        args:
          - --config
          - .github/.markdownlint-cli2.yaml

  - repo: local
    hooks:
      - id: examples-test
        name: Generate examples/tests.yaml
        entry: >-
          sh -c "docs/scripts/generate_examples_tests.py"
        language: python
        types: [python]
        files: anta/
        verbose: true
        pass_filenames: false
        additional_dependencies:
          - anta[cli]
          - pydantic-settings
      - id: doc-snippets
        name: Generate doc snippets
        entry: >-
          sh -c "docs/scripts/generate_doc_snippets.py"
        language: python
        types: [python]
        files: anta/cli/
        verbose: true
        pass_filenames: false
        additional_dependencies:
          - anta[cli]
          - pydantic-settings

fix typing in tests
  tests/units/anta_tests/routing/test_generic.py
  tests/units/input_models/routing/test_generic.py
Due: none

Addressed review comments: updated failure msg
  anta/tests/hardware.py
  tests/units/anta_tests/test_hardware.py
Due: examples-test

Removed timeout parameter
  anta/tests/system.py
  tests/units/anta_tests/test_system.py
Due: examples-test

Added deprication warning for older testcase
  anta/tests/configuration.py
Due: examples-test

Addressed review comments: updated failure message and description
  anta/tests/hardware.py
  tests/units/anta_tests/test_hardware.py
Due: examples-test

Update README.md
  docs/README.md
Due: none

ci: Change coverage badge from Sonar to Codecov (#1486)
  docs/README.md
Due: none

Addressed review comments: updated failure messages
  anta/tests/hardware.py
  tests/units/anta_tests/test_hardware.py
Due: examples-test

Addressed review comments: updated failure msg and added more unit tests
  anta/tests/hardware.py
  tests/units/anta_tests/test_hardware.py
Due: examples-test

ci: Change coverage badge from Sonar to Codecov (#1486)
  anta/cli/exec/utils.py
Due: examples-test, doc-snippets

ci: Change coverage badge from Sonar to Codecov (#1486)
  tests/units/input_models/routing/__init__.py
Due: none

feat: Add session support to asynceapi
  anta/_runner.py
  anta/device.py
  asynceapi/__init__.py
  asynceapi/_auth.py
  asynceapi/device.py
  asynceapi/errors.py
Due: examples-test

CI: Add zizmor to the repo
  .github/TODO.md
  .github/actions/rn-pr-labeler-action/action.yml
  .github/dependabot.yml
  .github/workflows/code-testing.yml
  .github/workflows/codecov.yml
  .github/workflows/codspeed.yml
  .github/workflows/main-doc.yml
  .github/workflows/on-demand.yml
  .github/workflows/pr-conflicts.yml
  .github/workflows/pr-triage.yml
  .github/workflows/pull-request-rn-labeler.yml
  .github/workflows/release.yml
  .github/workflows/zizmor.yml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
Due: none

CI: Make pre-commit happy again
  .github/TODO.md
  .github/generate_release.py
  .github/pull_request_template.md
  .github/release.md
Due: none

CI: Make pre-commit happy again
  .github/changelog.sh
  .github/pull_request_template.md
  .github/release.md
Due: none

CI: Need to live with our time
  .github/workflows/codspeed.yml
Due: none

Apply suggestions from code review
  .github/workflows/codspeed.yml
Due: none

Refactor: Use the latest versions please
  .github/actions/rn-pr-labeler-action/action.yml
  .github/workflows/code-testing.yml
  .github/workflows/codecov.yml
  .github/workflows/on-demand.yml
  .github/workflows/pr-conflicts.yml
  .github/workflows/release.yml
Due: none

ci: Add zizmor to the repo (#1494)
  .github/TODO.md
  .github/actions/rn-pr-labeler-action/action.yml
  .github/changelog.sh
  .github/dependabot.yml
  .github/generate_release.py
  .github/pull_request_template.md
  .github/release.md
  .github/workflows/code-testing.yml
  .github/workflows/codecov.yml
  .github/workflows/codspeed.yml
  .github/workflows/main-doc.yml
  .github/workflows/on-demand.yml
  .github/workflows/pr-conflicts.yml
  .github/workflows/pr-triage.yml
  .github/workflows/pull-request-rn-labeler.yml
  .github/workflows/release.yml
  .github/workflows/zizmor.yml
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Addressed review comments: updated multiple failure messages
  anta/tests/hardware.py
  tests/units/anta_tests/test_hardware.py
Due: examples-test

Added unit testcases for session based authentication
  anta/_runner.py
  anta/device.py
  asynceapi/_auth.py
  asynceapi/device.py
  asynceapi/errors.py
  tests/units/asynceapi/test__auth.py
  tests/units/asynceapi/test_device.py
  tests/units/asynceapi/test_errors.py
Due: examples-test

fixed linting issues.
  tests/units/asynceapi/conftest.py
  tests/units/asynceapi/test__auth.py
Due: none

Added asend keyword in codespellignore
  .codespellignore
Due: none

Added support for single login no re-login supported.
  asynceapi/_auth.py
  asynceapi/device.py
  asynceapi/errors.py
  tests/integration/test_device_session.py
  tests/units/asynceapi/test__auth.py
  tests/units/asynceapi/test_device.py
  tests/units/asynceapi/test_errors.py
Due: none

Optimzed code and updated docstrings
  asynceapi/_auth.py
  asynceapi/device.py
  asynceapi/errors.py
  tests/units/asynceapi/test__auth.py
Due: none

Updated failure message and costmetic changes
  asynceapi/_auth.py
  asynceapi/device.py
  asynceapi/errors.py
  tests/units/asynceapi/test__auth.py
  tests/units/asynceapi/test_errors.py
Due: none

feat(anta.tests): Update VerifyTransceiversManufacturers
  anta/tests/hardware.py
  examples/tests.yaml
  tests/units/anta_tests/test_hardware.py
Due: examples-test

CI: Use pre-commit action for zizmor and not external workflow
  .github/workflows/zizmor.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

ci: upgrade codecov action to v7
  .github/workflows/codecov.yml
Due: none

ci: upgrade codecov action to v7 (#1501)
  .github/workflows/codecov.yml
Due: none

feat(anta.tests): Add ignore_shutdown_interfaces options for VerifyInterfacesOpticsReceivePower
  anta/tests/interfaces.py
  examples/tests.yaml
  tests/units/anta_tests/test_interfaces.py
Due: examples-test

ci: Use pre-commit action for zizmor and not external workflow (#1500)
  .github/workflows/zizmor.yml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

CI: Let's freeze pre-commit because this is the way
  .pre-commit-config.yaml
Due: none

ci: Missed one
  .pre-commit-config.yaml
Due: none

ci: Let's freeze pre-commit because this is the way (#1505)
  .pre-commit-config.yaml
Due: none

refactor(anta.tests): Add support to test(VerifyEnvironmentPower) single connected PSU on dual PSU switch (#1483)
  anta/tests/hardware.py
  examples/tests.yaml
  tests/units/anta_tests/test_hardware.py
Due: examples-test

test: Add some tests for teh behavior
  tests/units/asynceapi/test_device.py
Due: none

refactor: Make logged_in dependent of the session cookie to avoid inconsitsent state
  asynceapi/_auth.py
  tests/units/asynceapi/test__auth.py
Due: none

Added unit testcases for credential validation and logout utility
  tests/integration/test_device_session.py
  tests/units/asynceapi/test__auth.py
  tests/units/asynceapi/test_device.py
Due: none

Apply suggestions from code review
  asynceapi/__init__.py
Due: none
