Repository aristanetworks/anta: changes, and which pre-commit hooks are due for each by the changed paths.
All: examples-test, doc-snippets

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
  autoupdate_commit_msg: "ci: pre-commit autoupdate"
  skip: [pyright]
files: ^(anta|docs|scripts|tests|asynceapi)/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: docs/.*.svg
      - id: end-of-file-fixer
      - id: check-added-large-files
        exclude: tests/data/.*$
      - id: check-merge-conflict

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - name: Check and insert license on Python files
        id: insert-license
        # exclude:
        files: .*\.py$
        args:
          - --license-filepath
          - .github/license-short.txt
          - --use-current-year
          - --allow-past-years
          - --fuzzy-match-generates-todo
          - --no-extra-eol

      - name: Check and insert license on Markdown files
        id: insert-license
        files: .*\.md$
        exclude: ^tests/data/.*\.md$
        args:
          - --license-filepath
          - .github/license-short.txt
          - --use-current-year
          - --allow-past-years
          - --fuzzy-match-generates-todo
          - --comment-style
          - "<!--|  ~|  -->"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        name: Run Ruff linter
        args: [--fix]
      - id: ruff-format
        name: Run Ruff formatter

  - repo: https://github.com/pycqa/pylint
    rev: "v4.0.4"
    hooks:
      - id: pylint
        name: Check code style with pylint
        description: This hook runs pylint.
        types: [python]
        args:
          - -rn # Only display messages
          - -sn # Don't display the score
          - --rcfile=pyproject.toml # Link to config file
        additional_dependencies:
          - anta[cli]
          - types-PyYAML
          - types-requests
          - types-pyOpenSSL
          - pylint_pydantic
          - pytest
          - pytest-codspeed!=4.1.0
          - respx
          - pydantic-settings

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]
        args: ["--ignore-words", ".codespellignore"]

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.408
    hooks:
      - id: pyright
        name: PyRight static type checker
        types: [python]
        additional_dependencies:
          - anta[cli]
          - 'pytest>=8.2.0'
          - respx
          - types-PyYAML
          - types-requests
          - types-pyOpenSSL
        files: ^(anta|tests|asynceapi)/

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        name: Check for Linting errors on Markdown files.
        args:
          - --config
          - .github/.markdownlint-cli2.yaml

  - repo: local
    hooks:
      - id: examples-test
        name: Generate examples/tests.yaml
        entry: >-
          sh -c "docs/scripts/generate_examples_tests.py"
        language: python
        types: [python]
        files: anta/
        verbose: true
        pass_filenames: false
        additional_dependencies:
          - anta[cli]
          - pydantic-settings
      - id: doc-snippets
        name: Generate doc snippets
        entry: >-
          sh -c "docs/scripts/generate_doc_snippets.py"
        language: python
        types: [python]
        files: anta/cli/
        verbose: true
        pass_filenames: false
        additional_dependencies:
          - anta[cli]
          - pydantic-settings

docs: generate check exec debug CLI help
  docs/cli/check.md
  docs/cli/debug.md
  docs/cli/exec.md
  docs/scripts/generate_doc_snippets.py
  docs/scripts/generate_snippet.py
  docs/snippets/anta_check_catalog_help.txt
  docs/snippets/anta_check_help.txt
  docs/snippets/anta_debug_runcmd_help.txt
  docs/snippets/anta_debug_runtemplate_help.txt
  docs/snippets/anta_exec_clearcounters_help.txt
  docs/snippets/anta_exec_collecttechsupport_help.txt
  docs/snippets/anta_exec_help.txt
  docs/snippets/anta_exec_snapshot_help.txt
Due: none

docs: remove obsolete Python compatibility note
  examples/run_eos_commands.py
Due: none

docs: fix logging option examples
  docs/cli/debug.md
  docs/troubleshooting.md
Due: none

docs: check generated CLI snippets in CI
  .github/workflows/code-testing.yml
  docs/contribution.md
Due: none

ci: migrate Codecov from flags to components
  .codecov.yml
  .github/workflows/codecov.yml
Due: none

ci: migrate Codecov from flags to components (#1519)
  .codecov.yml
  .github/workflows/codecov.yml
Due: none

Added dataclass for eapi params
  anta/_runner.py
  anta/device.py
  anta/inventory/__init__.py
  asynceapi/_models.py
Due: examples-test

feat(anta): add `anta bug` command for bug compliance analysis
  anta/bugdb/__init__.py
  anta/bugdb/aql.py
  anta/bugdb/download.py
  anta/bugdb/matcher.py
  anta/bugdb/models.py
  anta/bugdb/sysdb.py
  anta/bugdb/tags.py
  anta/bugdb/version.py
  anta/cli/_main.py
  anta/cli/bug/__init__.py
  anta/cli/bug/commands.py
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets

fix(bugdb): rewrite SysDB client to use Acons interactive shell
  anta/bugdb/sysdb.py
Due: examples-test

test(bugdb): add unit tests for bug database modules
  anta/bugdb/sysdb.py
  tests/units/bugdb/__init__.py
  tests/units/bugdb/test_aql.py
  tests/units/bugdb/test_matcher.py
  tests/units/bugdb/test_models.py
  tests/units/bugdb/test_sysdb.py
  tests/units/bugdb/test_tags.py
  tests/units/bugdb/test_version.py
Due: examples-test

docs: add documentation for `anta bug` command
  docs/cli/bug.md
  docs/snippets/anta_bug_help.txt
  mkdocs.yml
Due: none

feat(cli): add `anta bug md-report` subcommand
  anta/cli/bug/__init__.py
  anta/cli/bug/commands.py
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets

fix(ci): resolve pylint and pyright errors
  anta/bugdb/aql.py
  anta/cli/bug/__init__.py
  tests/units/bugdb/test_matcher.py
  tests/units/bugdb/test_models.py
Due: examples-test, doc-snippets

fix(ci): suppress pylint R-level violations in parser/interpreter code
  anta/bugdb/aql.py
  anta/bugdb/version.py
Due: examples-test

test(cli): add integration tests for `anta bug` with mocked eAPI
  tests/data/test_alertbase.json
  tests/units/cli/bug/__init__.py
  tests/units/cli/bug/test_commands.py
  tests/units/cli/conftest.py
Due: none

refactor(bugdb): reduce cognitive complexity for SonarCloud
  anta/bugdb/aql.py
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets

fix(ci): resolve tox lint and type errors in tests
  tests/units/bugdb/test_aql.py
  tests/units/bugdb/test_matcher.py
  tests/units/bugdb/test_models.py
  tests/units/bugdb/test_sysdb.py
  tests/units/bugdb/test_tags.py
  tests/units/cli/conftest.py
Due: none

fix(ci): resolve pre-commit codespell and markdownlint errors
  anta/bugdb/version.py
  docs/cli/bug.md
  tests/units/bugdb/test_version.py
Due: examples-test

test(bugdb): increase test coverage for codecov
  tests/units/bugdb/test_aql.py
  tests/units/bugdb/test_download.py
Due: none

Updated testcase with inline comment, note and preview mode
  anta/input_models/configuration.py
  anta/tests/configuration.py
  examples/tests.yaml
  tests/units/anta_tests/test_configuration.py
  tests/units/input_models/test_configuration.py
Due: examples-test

fix(bugdb): use correct arista.com AlertBase download API
  anta/bugdb/download.py
  tests/units/bugdb/test_download.py
Due: examples-test

fix(ci): resolve SonarCloud and codecov failures
  anta/bugdb/aql.py
  anta/bugdb/download.py
  anta/bugdb/sysdb.py
  anta/bugdb/version.py
  tests/units/bugdb/test_aql.py
  tests/units/bugdb/test_sysdb.py
  tests/units/bugdb/test_tags.py
  tests/units/bugdb/test_version.py
Due: examples-test

Handle type error.
  anta/input_models/configuration.py
  anta/tests/configuration.py
  examples/tests.yaml
  tests/units/input_models/test_configuration.py
Due: examples-test

Fixed pre-commit issues
  anta/input_models/configuration.py
  anta/tests/configuration.py
Due: examples-test

fix(bugdb): remove trailing dot from arista.com hostname
  anta/bugdb/download.py
Due: examples-test

fix(bugdb): address CodeRabbit review items 1-11
  anta/bugdb/__init__.py
  anta/bugdb/aql.py
  anta/bugdb/sysdb.py
  anta/bugdb/tags.py
  anta/bugdb/version.py
  anta/cli/bug/utils.py
  docs/cli/bug.md
  docs/snippets/anta_bug_help.txt
  tests/units/bugdb/test_sysdb.py
  tests/units/bugdb/test_version.py
  tests/units/cli/bug/test_commands.py
Due: examples-test, doc-snippets

refactor(device): add version attribute to AntaDevice
  anta/bugdb/__init__.py
  anta/device.py
  tests/conftest.py
  tests/units/test_device.py
Due: examples-test

fix(bugdb): address remaining CodeRabbit review comments
  anta/bugdb/aql.py
  anta/bugdb/sysdb.py
  tests/units/bugdb/test_aql.py
  tests/units/bugdb/test_models.py
Due: examples-test

fix(tests): update integration test for show version mock with version field
  tests/integration/test_run_eos_commands.py
Due: none

fix(cli): catch database loading errors with user-friendly message
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets

test(bugdb): add substring boundary case for _is_nofixyet
  tests/units/bugdb/test_version.py
Due: none

feat(cli): add --target-version option and Fixed In column to anta bug
  anta/cli/bug/__init__.py
  anta/cli/bug/commands.py
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets

fix(bugdb): clean up log messages for bug database loading
  anta/bugdb/__init__.py
  anta/bugdb/download.py
Due: examples-test

doc: Fix Zensical outdated banner
  .github/zensical_extensions/_extensions/zensical_git_dates.py
  docs/overrides/main.html
Due: none

feat(cli): add --wide flag to bug table for full summaries
  anta/cli/bug/commands.py
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets

feat(cli): include Fixed In column in --wide output
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets

fix(cli): remove truncation from Markdown bug report
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets

feat(bugdb): add disk cache for downloaded bug database with 12h TTL
  anta/bugdb/download.py
  anta/cli/bug/__init__.py
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets
