Repository aristanetworks/anta: changes, and which pre-commit hooks are due for each by the changed paths.
All: examples-test, doc-snippets

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
  autoupdate_commit_msg: "ci: pre-commit autoupdate"
  skip: [pyright]
files: ^(anta|docs|scripts|tests|asynceapi)/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: docs/.*.svg
      - id: end-of-file-fixer
      - id: check-added-large-files
        exclude: tests/data/.*$
      - id: check-merge-conflict

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - name: Check and insert license on Python files
        id: insert-license
        # exclude:
        files: .*\.py$
        args:
          - --license-filepath
          - .github/license-short.txt
          - --use-current-year
          - --allow-past-years
          - --fuzzy-match-generates-todo
          - --no-extra-eol

      - name: Check and insert license on Markdown files
        id: insert-license
        files: .*\.md$
        exclude: ^tests/data/.*\.md$
        args:
          - --license-filepath
          - .github/license-short.txt
          - --use-current-year
          - --allow-past-years
          - --fuzzy-match-generates-todo
          - --comment-style
          - "<!--|  ~|  -->"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        name: Run Ruff linter
        args: [--fix]
      - id: ruff-format
        name: Run Ruff formatter

  - repo: https://github.com/pycqa/pylint
    rev: "v4.0.4"
    hooks:
      - id: pylint
        name: Check code style with pylint
        description: This hook runs pylint.
        types: [python]
        args:
          - -rn # Only display messages
          - -sn # Don't display the score
          - --rcfile=pyproject.toml # Link to config file
        additional_dependencies:
          - anta[cli]
          - types-PyYAML
          - types-requests
          - types-pyOpenSSL
          - pylint_pydantic
          - pytest
          - pytest-codspeed!=4.1.0
          - respx
          - pydantic-settings

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]
        args: ["--ignore-words", ".codespellignore"]

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.408
    hooks:
      - id: pyright
        name: PyRight static type checker
        types: [python]
        additional_dependencies:
          - anta[cli]
          - 'pytest>=8.2.0'
          - respx
          - types-PyYAML
          - types-requests
          - types-pyOpenSSL
        files: ^(anta|tests|asynceapi)/

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        name: Check for Linting errors on Markdown files.
        args:
          - --config
          - .github/.markdownlint-cli2.yaml

  - repo: local
    hooks:
      - id: examples-test
        name: Generate examples/tests.yaml
        entry: >-
          sh -c "docs/scripts/generate_examples_tests.py"
        language: python
        types: [python]
        files: anta/
        verbose: true
        pass_filenames: false
        additional_dependencies:
          - anta[cli]
          - pydantic-settings
      - id: doc-snippets
        name: Generate doc snippets
        entry: >-
          sh -c "docs/scripts/generate_doc_snippets.py"
        language: python
        types: [python]
        files: anta/cli/
        verbose: true
        pass_filenames: false
        additional_dependencies:
          - anta[cli]
          - pydantic-settings

refactor(anta): Refactor security MD report (#1650)
  anta/_advisory/reporter/md_reporter.py
  anta/_advisory/reporter/reporting.py
  anta/cli/psirt.py
  docs/cli/psirt.md
  docs/security-advisory-reports.md
  tests/data/test_security_advisory_md_report.md
  tests/data/test_security_advisory_md_report_expanded.md
  tests/units/_advisory/conftest.py
  tests/units/_advisory/test_md_reporter.py
  tests/units/_advisory/test_reporting.py
  tests/units/cli/test_psirt.py
Due: examples-test, doc-snippets

test: More benchmark exclusion for now
  docs/contribution.md
  tests/benchmark/test_anta.py
  tests/benchmark/utils.py
  tests/units/anta_tests/__init__.py
  tests/units/test_benchmark_utils.py
Due: none

fix(anta): Fix security reports
  anta/_advisory/reporter/csv_reporter.py
  anta/_advisory/reporter/md_reporter.py
  anta/_advisory/reporter/reporting.py
  tests/data/test_security_advisory_csv_report.csv
  tests/data/test_security_advisory_md_report.md
  tests/data/test_security_advisory_md_report_expanded.md
  tests/units/_advisory/reporting_data.py
  tests/units/_advisory/test_md_reporter.py
  tests/units/_advisory/test_reporting.py
Due: examples-test

fix(advisory): preserve report result semantics
  anta/_advisory/reporter/md_reporter.py
  anta/_advisory/reporter/reporting.py
  docs/security-advisory-reports.md
  tests/data/test_security_advisory_md_report.md
  tests/data/test_security_advisory_md_report_expanded.md
  tests/units/_advisory/test_md_reporter.py
  tests/units/_advisory/test_reporting.py
Due: examples-test

bump: Version 1.9.0 -> 1.10.0.dev1
  docs/contribution.md
  docs/requirements-and-installation.md
  pyproject.toml
Due: none

fix(anta): Fix security reports (#1654)
  anta/_advisory/reporter/csv_reporter.py
  anta/_advisory/reporter/md_reporter.py
  anta/_advisory/reporter/reporting.py
  docs/security-advisory-reports.md
  tests/data/test_security_advisory_csv_report.csv
  tests/data/test_security_advisory_md_report.md
  tests/data/test_security_advisory_md_report_expanded.md
  tests/units/_advisory/reporting_data.py
  tests/units/_advisory/test_md_reporter.py
  tests/units/_advisory/test_reporting.py
Due: examples-test

test: More benchmark exclusion for now (#1653)
  docs/contribution.md
  tests/benchmark/test_anta.py
  tests/benchmark/utils.py
  tests/units/anta_tests/__init__.py
  tests/units/test_benchmark_utils.py
Due: none

Update tests/units/anta_tests/conftest.py
  tests/units/anta_tests/conftest.py
Due: none

doc: Document published advisories and test metadata
  docs/api/tests/advisories.md
  docs/contribution.md
Due: none

fix(advisories): identify 7320X chassis
  anta/_advisory/platforms.py
  anta/tests/advisories/sa_142.py
  tests/units/_advisory/test_platforms.py
  tests/units/anta_tests/advisories/test_sa_142.py
Due: examples-test

fix(advisories): address review findings
  anta/tests/advisories/sa_142.py
  tests/data/test_security_advisory_csv_report.csv
  tests/data/test_security_advisory_md_report.md
  tests/units/_advisory/reporting_data.py
  tests/units/anta_tests/advisories/test_sa_140.py
  tests/units/anta_tests/advisories/test_sa_142.py
Due: examples-test

feat(advisories): add published security advisory tests
  anta/_advisory/eos_versions.py
  anta/_advisory/optional_commands.py
  anta/_advisory/platforms.py
  anta/_advisory/remediation.py
  anta/_advisory/status.py
  anta/tests/advisories/__init__.py
  anta/tests/advisories/sa_117.py
  anta/tests/advisories/sa_140.py
  anta/tests/advisories/sa_142.py
  anta/tests/advisories/sa_146.py
  anta/tests/advisories/sa_147.py
  examples/sa.yml
  examples/tests.yaml
  tests/data/test_security_advisory_csv_report.csv
  tests/data/test_security_advisory_md_report.md
  tests/units/_advisory/test_eos_versions.py
  tests/units/_advisory/test_optional_commands.py
  tests/units/_advisory/test_platforms.py
  tests/units/_advisory/test_remediation.py
  tests/units/_advisory/test_status.py
  tests/units/anta_tests/__init__.py
  tests/units/anta_tests/advisories/__init__.py
  tests/units/anta_tests/advisories/test_metadata.py
  tests/units/anta_tests/advisories/test_sa_117.py
  tests/units/anta_tests/advisories/test_sa_140.py
  tests/units/anta_tests/advisories/test_sa_142.py
  tests/units/anta_tests/advisories/test_sa_146.py
  tests/units/anta_tests/advisories/test_sa_147.py
  tests/units/anta_tests/conftest.py
Due: examples-test

test(advisories): regenerate report fixtures
  tests/data/test_security_advisory_csv_report.csv
  tests/data/test_security_advisory_md_report.md
  tests/data/test_security_advisory_md_report_expanded.md
Due: none

feat(anta.tests): Add published security advisory tests (#1647)
  anta/_advisory/eos_versions.py
  anta/_advisory/optional_commands.py
  anta/_advisory/platforms.py
  anta/_advisory/remediation.py
  anta/_advisory/status.py
  anta/tests/advisories/__init__.py
  anta/tests/advisories/sa_117.py
  anta/tests/advisories/sa_140.py
  anta/tests/advisories/sa_142.py
  anta/tests/advisories/sa_146.py
  anta/tests/advisories/sa_147.py
  docs/api/tests/advisories.md
  docs/contribution.md
  examples/sa.yml
  examples/tests.yaml
  tests/data/test_security_advisory_csv_report.csv
  tests/data/test_security_advisory_md_report.md
  tests/data/test_security_advisory_md_report_expanded.md
  tests/units/_advisory/reporting_data.py
  tests/units/_advisory/test_eos_versions.py
  tests/units/_advisory/test_optional_commands.py
  tests/units/_advisory/test_platforms.py
  tests/units/_advisory/test_remediation.py
  tests/units/_advisory/test_status.py
  tests/units/anta_tests/__init__.py
  tests/units/anta_tests/advisories/__init__.py
  tests/units/anta_tests/advisories/test_metadata.py
  tests/units/anta_tests/advisories/test_sa_117.py
  tests/units/anta_tests/advisories/test_sa_140.py
  tests/units/anta_tests/advisories/test_sa_142.py
  tests/units/anta_tests/advisories/test_sa_146.py
  tests/units/anta_tests/advisories/test_sa_147.py
  tests/units/anta_tests/conftest.py
Due: examples-test

bump: Version 1.9.0 -> 1.10.0.dev1 (#1656)
  docs/contribution.md
  docs/requirements-and-installation.md
  pyproject.toml
Due: none

Copied v1.9.0 to stable with mike 2.2.0+zensical-0.1.0
  stable
  versions.json
Due: none

ci: Add prerelease support
  .github/workflows/release.yml
Due: none

fix(anta): Fix EOS compatibility for SA117 & SA142
  anta/constants.py
  anta/tests/advisories/sa_117.py
  tests/units/anta_tests/advisories/test_sa_117.py
  tests/units/anta_tests/advisories/test_sa_142.py
Due: examples-test

ci: Add prerelease support (#1657)
  .github/workflows/release.yml
Due: none

fix: Test-VerifyStpTopologyChanges None > int raises TypeError (#1631)
  anta/tests/stp.py
  tests/units/anta_tests/test_stp.py
Due: examples-test

handle unconfigured terminattr
  anta/tests/advisories/sa_146.py
  tests/units/anta_tests/advisories/test_sa_146.py
Due: examples-test

refactor(anta): Update ANTA PSIRT markdown report
  anta/_advisory/reporter/md_reporter.py
  anta/_advisory/reporter/reporting.py
  docs/security-advisory-reports.md
  tests/data/test_security_advisory_md_report.md
  tests/data/test_security_advisory_md_report_expanded.md
  tests/units/_advisory/reporting_data.py
  tests/units/_advisory/test_md_reporter.py
  tests/units/cli/test_psirt.py
Due: examples-test

fix(anta): Fix EOS compatibility for security advisories (#1662)
  anta/constants.py
  anta/tests/advisories/sa_117.py
  anta/tests/advisories/sa_146.py
  tests/units/anta_tests/advisories/test_sa_117.py
  tests/units/anta_tests/advisories/test_sa_142.py
  tests/units/anta_tests/advisories/test_sa_146.py
Due: examples-test

refactor(anta): Update ANTA PSIRT markdown report (#1663)
  anta/_advisory/reporter/md_reporter.py
  anta/_advisory/reporter/reporting.py
  docs/security-advisory-reports.md
  tests/data/test_security_advisory_md_report.md
  tests/data/test_security_advisory_md_report_expanded.md
  tests/units/_advisory/reporting_data.py
  tests/units/_advisory/test_md_reporter.py
  tests/units/cli/test_psirt.py
Due: examples-test

bump: Version 1.10.0.dev1 -> 1.10.0.dev2
  docs/contribution.md
  docs/requirements-and-installation.md
  pyproject.toml
Due: none

bump: Version 1.10.0.dev1 -> 1.10.0.dev2 (#1664)
  docs/contribution.md
  docs/requirements-and-installation.md
  pyproject.toml
Due: none

refactor(anta): Add custom spinner for anta psirt
  anta/cli/nrfu/__init__.py
  anta/cli/nrfu/utils.py
  anta/cli/psirt.py
  tests/units/cli/nrfu/test_commands.py
  tests/units/cli/test_psirt.py
Due: examples-test, doc-snippets

Refactor: Optimize detection of unsupported platform commands and centralize logic
  anta/_advisory/optional_commands.py
  anta/_eos/errors.py
  anta/constants.py
  anta/models.py
  tests/units/test_models.py
Due: examples-test

refactor(anta): Remove repeated IDs for advisories and vulnerabilities
  anta/_advisory/reporter/md_reporter.py
  anta/tests/advisories/sa_117.py
  anta/tests/advisories/sa_140.py
  anta/tests/advisories/sa_142.py
  anta/tests/advisories/sa_147.py
  tests/data/test_security_advisory_csv_report.csv
  tests/data/test_security_advisory_md_report.md
  tests/data/test_security_advisory_md_report_expanded.md
  tests/units/_advisory/conftest.py
  tests/units/_advisory/reporting_data.py
  tests/units/_advisory/test_csv_reporter.py
  tests/units/_advisory/test_md_reporter.py
  tests/units/anta_tests/advisories/test_metadata.py
Due: examples-test

fix: preserve invalid command error handling
  anta/constants.py
  tests/units/test_models.py
Due: examples-test

refactor(anta): Remove repeated IDs for advisories and vulnerabilities (#1667)
  anta/_advisory/reporter/md_reporter.py
  anta/tests/advisories/sa_117.py
  anta/tests/advisories/sa_140.py
  anta/tests/advisories/sa_142.py
  anta/tests/advisories/sa_147.py
  tests/data/test_security_advisory_csv_report.csv
  tests/data/test_security_advisory_md_report.md
  tests/data/test_security_advisory_md_report_expanded.md
  tests/units/_advisory/conftest.py
  tests/units/_advisory/reporting_data.py
  tests/units/_advisory/test_csv_reporter.py
  tests/units/_advisory/test_md_reporter.py
  tests/units/anta_tests/advisories/test_metadata.py
Due: examples-test

Fix: PSIRT remove extra carriage returns
  anta/_advisory/reporter/csv_reporter.py
  tests/units/_advisory/test_csv_reporter.py
Due: examples-test

update csv tests
  tests/data/test_security_advisory_csv_report.csv
Due: none

fix(anta): Remove extra carriage returns in PSIRT CSV report (#1668)
  anta/_advisory/reporter/csv_reporter.py
  tests/data/test_security_advisory_csv_report.csv
  tests/units/_advisory/test_csv_reporter.py
Due: examples-test

refactor(anta): Remove description column from advisory md report findings tables
  anta/_advisory/reporter/md_reporter.py
  anta/tests/advisories/sa_117.py
  anta/tests/advisories/sa_140.py
  anta/tests/advisories/sa_142.py
  anta/tests/advisories/sa_146.py
  anta/tests/advisories/sa_147.py
  tests/data/test_security_advisory_md_report.md
  tests/data/test_security_advisory_md_report_expanded.md
  tests/units/_advisory/reporting_data.py
  tests/units/_advisory/test_md_reporter.py
  tests/units/anta_tests/advisories/test_sa_117.py
  tests/units/anta_tests/advisories/test_sa_140.py
  tests/units/anta_tests/advisories/test_sa_142.py
  tests/units/anta_tests/advisories/test_sa_146.py
  tests/units/anta_tests/advisories/test_sa_147.py
Due: examples-test

fix test fixture
  tests/data/test_security_advisory_csv_report.csv
Due: none

refactor(anta): Remove description column from advisory md report findings tables (#1669)
  anta/_advisory/reporter/md_reporter.py
  anta/tests/advisories/sa_117.py
  anta/tests/advisories/sa_140.py
  anta/tests/advisories/sa_142.py
  anta/tests/advisories/sa_146.py
  anta/tests/advisories/sa_147.py
  tests/data/test_security_advisory_csv_report.csv
  tests/data/test_security_advisory_md_report.md
  tests/data/test_security_advisory_md_report_expanded.md
  tests/units/_advisory/reporting_data.py
  tests/units/_advisory/test_md_reporter.py
  tests/units/anta_tests/advisories/test_sa_117.py
  tests/units/anta_tests/advisories/test_sa_140.py
  tests/units/anta_tests/advisories/test_sa_142.py
  tests/units/anta_tests/advisories/test_sa_146.py
  tests/units/anta_tests/advisories/test_sa_147.py
Due: examples-test

bump: Version 1.10.0.dev2 -> 1.10.0.dev3
  docs/contribution.md
  docs/requirements-and-installation.md
  pyproject.toml
Due: none

bump: Version 1.10.0.dev2 -> 1.10.0.dev3 (#1670)
  docs/contribution.md
  docs/requirements-and-installation.md
  pyproject.toml
Due: none

refactor(anta): rename psirt to sat
  README.md
  anta/cli/_main.py
  anta/cli/sat.py
  anta/tests/advisories/__init__.py
  docs/cli/overview.md
  docs/cli/sat.md
  docs/scripts/generate_doc_snippets.py
  docs/security-advisory-reports.md
  docs/snippets/anta_help.txt
  docs/snippets/anta_sat_help.txt
  mkdocs.yml
  tests/units/cli/test_main.py
  tests/units/cli/test_sat.py
Due: examples-test, doc-snippets
