Repository aristanetworks/anta: changes, and which pre-commit hooks are due for each by the changed paths.
All: examples-test, doc-snippets

examples-test:
  name: Generate examples/tests.yaml
  entry: sh -c "docs/scripts/generate_examples_tests.py"
  language: python
  verbose: true
  pass_filenames: false
  additional_dependencies:
  - anta[cli]
  - pydantic-settings

doc-snippets:
  name: Generate doc snippets
  entry: sh -c "docs/scripts/generate_doc_snippets.py"
  language: python
  verbose: true
  pass_filenames: false
  additional_dependencies:
  - anta[cli]
  - pydantic-settings

fix(cli): remove truncation from Markdown bug report
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets

feat(cli): add --wide flag to bug table for full summaries
  anta/cli/bug/commands.py
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets

feat(cli): include Fixed In column in --wide output
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets

fix(bugdb): harden cache error handling and remove dead code
  anta/bugdb/download.py
  anta/cli/bug/utils.py
  tests/units/bugdb/test_download.py
Due: examples-test, doc-snippets

test(bugdb): add coverage for bug database cache functions
  tests/units/bugdb/test_download.py
Due: none

feat(bugdb): add disk cache for downloaded bug database with 12h TTL
  anta/bugdb/download.py
  anta/cli/bug/__init__.py
  anta/cli/bug/utils.py
Due: examples-test, doc-snippets

fix(tests): fix Windows path assertion and increase coverage for codecov
  tests/units/bugdb/test_download.py
  tests/units/cli/bug/test_commands.py
  tests/units/cli/bug/test_utils.py
Due: none

fix(bugdb): stop wrapping SysDB values to fix AQL direct comparisons
  anta/bugdb/aql.py
  anta/bugdb/sysdb.py
  tests/units/bugdb/test_aql.py
  tests/units/bugdb/test_sysdb.py
Due: examples-test

docs(bug): update anta bug documentation with all options
  docs/cli/bug.md
  docs/snippets/anta_bug_help.txt
Due: none

refactor(sysdb): parse Acons output on-device and return JSON
  anta/bugdb/sysdb.py
  tests/units/bugdb/test_sysdb.py
  tests/units/cli/conftest.py
Due: examples-test

refactor(sysdb): replace Acons with PyClient for direct SysDB access
  anta/bugdb/sysdb.py
  tests/units/bugdb/test_sysdb.py
  tests/units/cli/conftest.py
Due: examples-test

feat(bugdb): add TerminAttr CVE bug detection
  anta/bugdb/__init__.py
  anta/bugdb/matcher.py
  anta/bugdb/models.py
  anta/bugdb/version.py
  anta/cli/bug/utils.py
  tests/units/bugdb/test_matcher.py
  tests/units/bugdb/test_version.py
Due: examples-test, doc-snippets

fix(sysdb): use EXIT trap for temp file cleanup and narrow SysDB mock
  anta/bugdb/sysdb.py
  tests/units/cli/bug/test_utils.py
  tests/units/cli/conftest.py
Due: examples-test

test(bugdb): add BugDatabase unit tests to improve codecov coverage
  tests/units/bugdb/test_bugdb.py
Due: none

fix(tests): make failure isolation test order-independent
  tests/units/bugdb/test_bugdb.py
Due: none

fix(benchmarks): restore baseline show version fixture
  tests/conftest.py
Due: none

fix(bugdb): serialize typed device version before matching
  anta/bugdb/__init__.py
Due: examples-test

fix(benchmarks): isolate EOS version from CodSpeed baseline
  README.md
  tests/benchmark/conftest.py
  tests/conftest.py
Due: none

Update note
  docs/faq.md
Due: none

Update docs/security-advisory/usage.md
  docs/security-advisory/usage.md
Due: none

refactor(advisory): keep nominal fact identity on class
  anta/_advisory/facts/models.py
  anta/_advisory/facts/routing.py
  anta/_advisory/findings/models.py
  tests/units/_advisory/facts/test_routing.py
  tests/units/anta_tests/advisories/test_sa_154.py
Due: examples-test

docs(advisory): note nominal fact factory follow-up
  anta/_advisory/facts/models.py
Due: examples-test

docs(advisory): capture typed fact migration seam
  anta/_advisory/base.py
Due: examples-test

doc: format PSIRT environment variables as a list
  docs/security-advisory/usage.md
Due: none

doc: clarify inventory refresh timeout behavior
  docs/cli/overview.md
  docs/faq.md
  docs/inventory-refresh.mmd
  docs/stylesheets/extra.zensical.css
  docs/usage-inventory-catalog.md
Due: none

doc: clarify connectivity timeout wording
  docs/faq.md
  docs/usage-inventory-catalog.md
Due: none

Apply batched suggestions from code review
  docs/security-advisory/reports.md
Due: none

Apply batched suggestions from code review
  docs/advanced_usages/custom-tests.md
  docs/usage-inventory-catalog.md
Due: none

doc: clarify inventory refresh timeout behavior (#1748)
  docs/cli/overview.md
  docs/faq.md
  docs/inventory-refresh.mmd
  docs/stylesheets/extra.zensical.css
  docs/usage-inventory-catalog.md
Due: none

doc: refresh catalog and test extension examples (#1734)
  docs/advanced_usages/custom-tests.md
  docs/cli/exec.md
  docs/fixtures/anta_custom/__init__.py
  docs/fixtures/anta_custom/dc_project.py
  docs/imgs/anta_nrfu_device_dc1spine1_catalog_docs_snippets_atomicresultscatalogyml_table.svg
  docs/imgs/anta_nrfu_device_dc1spine1_catalog_docs_snippets_atomicresultscatalogyml_table_expand.svg
  docs/imgs/anta_nrfu_device_dc1spine1_catalog_docs_snippets_customtestscatalogyml_text.svg
  docs/imgs/anta_nrfu_device_dc1spine1_catalog_docs_snippets_resultoverwritecatalogyml_table.svg
  docs/imgs/anta_nrfu_table.svg
  docs/imgs/anta_nrfu_table_expand.svg
  docs/snippets/api_tests_overview.txt
  docs/snippets/atomic-results-catalog.yml
  docs/snippets/custom-tests-catalog.yml
  docs/snippets/result-overwrite-catalog.yml
  docs/usage-inventory-catalog.md
Due: none

doc: document output snapshot maintenance
  .github/documentation-output-snapshots.md
  README.md
  tests/docs/test_doc_output_examples.py
Due: none

Update .github/documentation-output-snapshots.md
  .github/documentation-output-snapshots.md
Due: none

Apply batched suggestions from code review
  .github/documentation-output-snapshots.md
Due: none

test(docs): cover HTML SVG images
  tests/docs/test_doc_output_examples.py
Due: none

doc: clarify unassociated advisory rows
  docs/security-advisory/reports.md
Due: none

doc: document output snapshot maintenance (#1738)
  .github/documentation-output-snapshots.md
  README.md
  tests/docs/test_doc_output_examples.py
Due: none

doc: refresh security advisory examples (#1739)
  docs/imgs/anta_psirt_mdreport_mdoutput_psirtmd.svg
  docs/imgs/anta_psirt_test_SA117_mdreport_mdoutput_sa117md.svg
  docs/scripts/generate_snippet.py
  docs/security-advisory/lab.md
  docs/security-advisory/tests-overview.md
  docs/security-advisory/usage.md
  docs/stylesheets/extra.zensical.css
  tests/docs/test_generate_snippet.py
Due: none

Path conditions:
  examples-test: any of: anta/ and \.py$ and ^(anta|docs|scripts|tests|asynceapi)/
  doc-snippets: any of: anta/cli/ and \.py$ and ^(anta|docs|scripts|tests|asynceapi)/
