Repository aristanetworks/anta: changes, and which pre-commit hooks are due for each by the changed paths.
All: examples-test, doc-snippets

examples-test:
  name: Generate examples/tests.yaml
  entry: sh -c "docs/scripts/generate_examples_tests.py"
  language: python
  verbose: true
  pass_filenames: false
  additional_dependencies:
  - anta[cli]
  - pydantic-settings

doc-snippets:
  name: Generate doc snippets
  entry: sh -c "docs/scripts/generate_doc_snippets.py"
  language: python
  verbose: true
  pass_filenames: false
  additional_dependencies:
  - anta[cli]
  - pydantic-settings

Apply suggestions from code review
  asynceapi/_auth.py
Due: none

Apply suggestion from @gmuloc
  asynceapi/device.py
Due: none

CI: Make pre-commit happy again
  tests/units/asynceapi/test_device.py
Due: none

Fixes
  asynceapi/_auth.py
  asynceapi/device.py
Due: none

feat(anta.tests): Add session support to asynceapi (#1492)
  .codespellignore
  asynceapi/_auth.py
  asynceapi/device.py
  asynceapi/errors.py
  tests/units/asynceapi/test__auth.py
  tests/units/asynceapi/test_device.py
  tests/units/asynceapi/test_errors.py
Due: none

Added disconnect inventory support
  anta/_runner.py
  anta/device.py
  anta/inventory/__init__.py
Due: examples-test

switch to source rotues
  anta/input_models/routing/generic.py
  anta/tests/routing/generic.py
  tests/units/anta_tests/routing/test_generic.py
  tests/units/input_models/routing/test_generic.py
Due: examples-test

Added use session to inventory models
  anta/device.py
  anta/inventory/__init__.py
  anta/inventory/models.py
Due: examples-test

Added unit tests for inventory
  tests/units/inventory/test__init__.py
  tests/units/inventory/test_models.py
Due: none

added unit test for device disconnect
  anta/device.py
  anta/inventory/__init__.py
  tests/units/test_device.py
Due: examples-test

feat: implementation done, testing pending
  anta/input_models/configuration.py
  anta/tests/configuration.py
  examples/tests.yaml
  tests/units/anta_tests/test_configuration.py
Due: examples-test

Updated docstrings and added note
  anta/tests/system.py
  examples/tests.yaml
Due: examples-test

update_int_optics_receive_power
  anta/tests/interfaces.py
  examples/tests.yaml
Due: examples-test

Updated input description
  anta/tests/hardware.py
Due: examples-test

Doc: Fix broken link for api/tests
  docs/api/tests-documentation.md
  docs/snippets/api_tests_overview.md
  mkdocs.yml
Due: none

Doc: Clean licenses in files where we don't want them
  .github/pull_request_template.md
  .pre-commit-config.yaml
  docs/snippets/api_tests_overview.md
Due: none

CI: Make release note label lookup exact
  .github/actions/rn-pr-labeler-action/action.yml
Due: none

ci: Make release note label lookup exact (#1514)
  .github/actions/rn-pr-labeler-action/action.yml
Due: none

doc: Fix broken link for api/tests (#1511)
  .github/pull_request_template.md
  .pre-commit-config.yaml
  docs/api/tests-documentation.md
  docs/snippets/api_tests_overview.md
  mkdocs.yml
Due: none

Redesign the test with latest input model
  anta/tests/configuration.py
  tests/units/anta_tests/test_configuration.py
  tests/units/input_models/test_configuration.py
Due: examples-test

Apply suggestions from code review
  anta/tests/interfaces.py
Due: examples-test

feat(anta.tests): Add ignore_shutdown_interfaces options for VerifyInterfacesOpticsReceivePower (#1503)
  anta/tests/interfaces.py
  examples/tests.yaml
  tests/units/anta_tests/test_interfaces.py
Due: examples-test

Update anta/tests/hardware.py
  anta/tests/hardware.py
Due: examples-test

Added tip
  anta/tests/hardware.py
Due: examples-test

feat(anta.tests): Update VerifyTransceiversManufacturers (#1499)
  anta/tests/hardware.py
  examples/tests.yaml
  tests/units/anta_tests/test_hardware.py
Due: examples-test

Remove None and add before validator to inject bounds
  anta/input_models/routing/generic.py
  anta/tests/routing/generic.py
  examples/tests.yaml
  tests/units/anta_tests/routing/test_generic.py
  tests/units/input_models/routing/test_generic.py
Due: examples-test

Add unit tests
  anta/tests/routing/generic.py
  tests/units/anta_tests/routing/test_generic.py
Due: examples-test

Fix pyright issues and failure message
  anta/tests/routing/generic.py
  tests/units/anta_tests/routing/test_generic.py
Due: examples-test

Add pylint ignore and __str__
  anta/input_models/routing/generic.py
  anta/tests/routing/generic.py
  tests/units/anta_tests/routing/test_generic.py
Due: examples-test

feat(anta.tests): Add VRFs support to the VerifyRoutingTableSize test (#1480)
  anta/input_models/routing/generic.py
  anta/tests/routing/generic.py
  examples/tests.yaml
  tests/units/anta_tests/routing/test_generic.py
  tests/units/input_models/routing/test_generic.py
Due: examples-test

Fix doc
  anta/tests/system.py
Due: examples-test

fix(anta.tests): Added fix for issue: VerifyCPUUtilization failing when added in the middle of other tests (#1294)
  anta/tests/system.py
  examples/tests.yaml
  tests/units/anta_tests/test_system.py
Due: examples-test

fix(anta): ANTA NRFU table columns are reversed
  anta/reporter/__init__.py
Due: examples-test

1st commit
  anta/cli/exec/utils.py
  anta/device.py
  tests/units/test_device.py
  tests/units/test_settings.py
Due: examples-test, doc-snippets

Added unit test and validation for threshold values
  anta/input_models/configuration.py
  tests/units/anta_tests/test_configuration.py
  tests/units/input_models/test_configuration.py
Due: examples-test

fix(anta): ANTA NRFU table columns are reversed (#1516)
  anta/reporter/__init__.py
Due: examples-test

fix(anta): ResourceWarning when ANTA CLI is completed
  anta/device.py
Due: examples-test

Added tests
  tests/units/test_device.py
Due: none

docs: correct eAPI client naming
  anta/device.py
  docs/README.md
  docs/advanced_usages/as-python-lib.md
Due: examples-test

docs: include generated README CLI help
  docs/README.md
Due: none

Path conditions:
  examples-test: any of: anta/ and \.py$ and ^(anta|docs|scripts|tests|asynceapi)/
  doc-snippets: any of: anta/cli/ and \.py$ and ^(anta|docs|scripts|tests|asynceapi)/
