Repository aristanetworks/anta: changes, and which pre-commit hooks are due for each by the changed paths.
All: examples-test, doc-snippets

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
  autoupdate_commit_msg: "ci: pre-commit autoupdate"
  skip: [pyright]
files: ^(anta|docs|scripts|tests|asynceapi)/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: docs/.*.svg
      - id: end-of-file-fixer
      - id: check-added-large-files
        exclude: tests/data/.*$
      - id: check-merge-conflict

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - name: Check and insert license on Python files
        id: insert-license
        # exclude:
        files: .*\.py$
        args:
          - --license-filepath
          - .github/license-short.txt
          - --use-current-year
          - --allow-past-years
          - --fuzzy-match-generates-todo
          - --no-extra-eol

      - name: Check and insert license on Markdown files
        id: insert-license
        files: .*\.md$
        exclude: ^tests/data/.*\.md$
        args:
          - --license-filepath
          - .github/license-short.txt
          - --use-current-year
          - --allow-past-years
          - --fuzzy-match-generates-todo
          - --comment-style
          - "<!--|  ~|  -->"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        name: Run Ruff linter
        args: [--fix]
      - id: ruff-format
        name: Run Ruff formatter

  - repo: https://github.com/pycqa/pylint
    rev: "v4.0.4"
    hooks:
      - id: pylint
        name: Check code style with pylint
        description: This hook runs pylint.
        types: [python]
        args:
          - -rn # Only display messages
          - -sn # Don't display the score
          - --rcfile=pyproject.toml # Link to config file
        additional_dependencies:
          - anta[cli]
          - types-PyYAML
          - types-requests
          - types-pyOpenSSL
          - pylint_pydantic
          - pytest
          - pytest-codspeed!=4.1.0
          - respx
          - pydantic-settings

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]
        args: ["--ignore-words", ".codespellignore"]

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.408
    hooks:
      - id: pyright
        name: PyRight static type checker
        types: [python]
        additional_dependencies:
          - anta[cli]
          - 'pytest>=8.2.0'
          - respx
          - types-PyYAML
          - types-requests
          - types-pyOpenSSL
        files: ^(anta|tests|asynceapi)/

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        name: Check for Linting errors on Markdown files.
        args:
          - --config
          - .github/.markdownlint-cli2.yaml

  - repo: local
    hooks:
      - id: examples-test
        name: Generate examples/tests.yaml
        entry: >-
          sh -c "docs/scripts/generate_examples_tests.py"
        language: python
        types: [python]
        files: anta/
        verbose: true
        pass_filenames: false
        additional_dependencies:
          - anta[cli]
          - pydantic-settings
      - id: doc-snippets
        name: Generate doc snippets
        entry: >-
          sh -c "docs/scripts/generate_doc_snippets.py"
        language: python
        types: [python]
        files: anta/cli/
        verbose: true
        pass_filenames: false
        additional_dependencies:
          - anta[cli]
          - pydantic-settings

refactor(anta): add shared EOS assessment helpers (#1712)
  anta/_advisory/findings/assessment.py
  anta/tests/advisories/sa_117.py
  anta/tests/advisories/sa_140.py
  anta/tests/advisories/sa_146.py
  anta/tests/advisories/sa_147.py
  tests/units/_advisory/findings/test_assessment.py
  tests/units/anta_tests/advisories/test_sa_146.py
Due: examples-test

refactor: More stuff
  anta/_eos/platform.py
  tests/units/_eos/test_platform.py
Due: examples-test

feat(anta): extend platform family mappings (#1711)
  anta/_eos/platform.py
  anta/tests/advisories/sa_142.py
  tests/units/_eos/test_platform.py
  tests/units/anta_tests/advisories/test_sa_142.py
Due: examples-test

bump: Version 1.10.0.dev5 -> 1.10.0.dev6
  docs/contribution.md
  docs/requirements-and-installation.md
  pyproject.toml
Due: none

bump: Version 1.10.0.dev5 -> 1.10.0.dev6 (#1714)
  docs/contribution.md
  docs/requirements-and-installation.md
  pyproject.toml
Due: none

fix(anta.tests): classify SA147 peer trust as inconclusive
  anta/tests/advisories/sa_147.py
  tests/data/test_security_advisory_csv_report.csv
  tests/data/test_security_advisory_md_report.md
  tests/units/_advisory/reporting_data.py
  tests/units/_advisory/test_md_reporter.py
  tests/units/anta_tests/advisories/test_sa_147.py
Due: examples-test

fix(anta.tests): classify SA147 peer trust as inconclusive (#1715)
  anta/tests/advisories/sa_147.py
  tests/data/test_security_advisory_csv_report.csv
  tests/data/test_security_advisory_md_report.md
  tests/units/_advisory/reporting_data.py
  tests/units/_advisory/test_md_reporter.py
  tests/units/anta_tests/advisories/test_sa_147.py
Due: examples-test

feat(anta): Add possibility to choose SSL ciphers for AsyncEOSDevice
  anta/device.py
  anta/inventory/__init__.py
  anta/inventory/models.py
  anta/settings.py
  docs/advanced_usages/env-vars.md
  docs/api/class-diagram.mmd
  docs/api/device.md
  docs/faq.md
  docs/usage-inventory-catalog.md
  tests/units/inventory/test__init__.py
  tests/units/inventory/test_models.py
  tests/units/test_device.py
  tests/units/test_settings.py
Due: examples-test

test: Windows is windows
  tests/units/conftest.py
Due: none

refactor: Do not emit preview warnings for advisories test, keep it in doc only
  anta/decorators.py
  anta/tests/advisories/sa_117.py
  anta/tests/advisories/sa_140.py
  anta/tests/advisories/sa_142.py
  anta/tests/advisories/sa_146.py
  anta/tests/advisories/sa_147.py
  docs/templates/python/material/class.html.jinja
  tests/units/anta_tests/advisories/test_metadata.py
  tests/units/test_decorators.py
Due: examples-test

test: More WINDOWS help in tests
  tests/units/conftest.py
Due: none

refactor: Only emit one preview warning for all advisories
  anta/_advisory/base.py
  anta/decorators.py
  anta/tests/advisories/sa_117.py
  anta/tests/advisories/sa_140.py
  anta/tests/advisories/sa_142.py
  anta/tests/advisories/sa_146.py
  anta/tests/advisories/sa_147.py
  tests/units/anta_tests/advisories/test_metadata.py
  tests/units/test_decorators.py
Due: examples-test

refactor: Do not emit preview warnings for advisories test, keep it in doc only (#1718)
  anta/_advisory/base.py
  anta/decorators.py
  anta/tests/advisories/sa_117.py
  anta/tests/advisories/sa_140.py
  anta/tests/advisories/sa_142.py
  anta/tests/advisories/sa_146.py
  anta/tests/advisories/sa_147.py
  docs/templates/python/material/class.html.jinja
  tests/units/anta_tests/advisories/test_metadata.py
  tests/units/test_decorators.py
Due: examples-test

Added unit tests
  anta/tests/aaa.py
  tests/units/anta_tests/test_aaa.py
  tests/units/input_models/aaa.py
Due: examples-test

feat(anta): add JUnit reporter
  anta/cli/nrfu/__init__.py
  anta/cli/nrfu/commands.py
  anta/cli/nrfu/utils.py
  anta/reporter/junit_reporter.py
  docs/snippets/anta_nrfu_help.txt
  tests/units/cli/nrfu/test_commands.py
  tests/units/reporter/test_junit_reporter.py
Due: examples-test, doc-snippets

feat(anta): Add possibility to choose SSL ciphers for AsyncEOSDevice (#1717)
  anta/device.py
  anta/inventory/__init__.py
  anta/inventory/models.py
  anta/settings.py
  docs/advanced_usages/env-vars.md
  docs/api/class-diagram.mmd
  docs/api/device.md
  docs/faq.md
  docs/usage-inventory-catalog.md
  tests/units/conftest.py
  tests/units/inventory/test__init__.py
  tests/units/inventory/test_models.py
  tests/units/test_device.py
  tests/units/test_settings.py
Due: examples-test

refactor: Use the same warning preview message for all SAs
  anta/tests/advisories/sa_149.py
  anta/tests/advisories/sa_150.py
  anta/tests/advisories/sa_151.py
  anta/tests/advisories/sa_152.py
  anta/tests/advisories/sa_153.py
  anta/tests/advisories/sa_154.py
  anta/tests/advisories/sa_155.py
  anta/tests/advisories/sa_156.py
  anta/tests/advisories/sa_157.py
  anta/tests/advisories/sa_158.py
  anta/tests/advisories/sa_159.py
  anta/tests/advisories/sa_160.py
  anta/tests/advisories/sa_161.py
  anta/tests/advisories/sa_162.py
  anta/tests/advisories/sa_163.py
  anta/tests/advisories/sa_164.py
  anta/tests/advisories/sa_165.py
  anta/tests/advisories/sa_166.py
  anta/tests/advisories/sa_167.py
  anta/tests/advisories/sa_168.py
  anta/tests/advisories/sa_169.py
  anta/tests/advisories/sa_170.py
  anta/tests/advisories/sa_171.py
  anta/tests/advisories/sa_172.py
  anta/tests/advisories/sa_173.py
  anta/tests/advisories/sa_174.py
  anta/tests/advisories/sa_175.py
  anta/tests/advisories/sa_176.py
  anta/tests/advisories/sa_177.py
  anta/tests/advisories/sa_178.py
  tests/units/anta_tests/advisories/test_metadata.py
Due: examples-test

bump: Version 1.10.0.dev6 -> 1.10.0
  docs/contribution.md
  docs/requirements-and-installation.md
  pyproject.toml
Due: none

ci: Exclude SA tests from benchmark
  tests/units/anta_tests/advisories/test_sa_149.py
  tests/units/anta_tests/advisories/test_sa_150.py
  tests/units/anta_tests/advisories/test_sa_151.py
  tests/units/anta_tests/advisories/test_sa_152.py
  tests/units/anta_tests/advisories/test_sa_153.py
  tests/units/anta_tests/advisories/test_sa_154.py
  tests/units/anta_tests/advisories/test_sa_155.py
  tests/units/anta_tests/advisories/test_sa_156.py
  tests/units/anta_tests/advisories/test_sa_157.py
  tests/units/anta_tests/advisories/test_sa_158.py
  tests/units/anta_tests/advisories/test_sa_159.py
  tests/units/anta_tests/advisories/test_sa_160.py
  tests/units/anta_tests/advisories/test_sa_161.py
  tests/units/anta_tests/advisories/test_sa_162.py
  tests/units/anta_tests/advisories/test_sa_163.py
  tests/units/anta_tests/advisories/test_sa_164.py
  tests/units/anta_tests/advisories/test_sa_165.py
  tests/units/anta_tests/advisories/test_sa_166.py
  tests/units/anta_tests/advisories/test_sa_167.py
  tests/units/anta_tests/advisories/test_sa_168.py
  tests/units/anta_tests/advisories/test_sa_169.py
  tests/units/anta_tests/advisories/test_sa_170.py
  tests/units/anta_tests/advisories/test_sa_171.py
  tests/units/anta_tests/advisories/test_sa_172.py
  tests/units/anta_tests/advisories/test_sa_173.py
  tests/units/anta_tests/advisories/test_sa_174.py
  tests/units/anta_tests/advisories/test_sa_175.py
  tests/units/anta_tests/advisories/test_sa_176.py
  tests/units/anta_tests/advisories/test_sa_177.py
  tests/units/anta_tests/advisories/test_sa_178.py
Due: none

refactor: Use the same warning preview message for all SAs (#1722)
  anta/tests/advisories/sa_149.py
  anta/tests/advisories/sa_150.py
  anta/tests/advisories/sa_151.py
  anta/tests/advisories/sa_152.py
  anta/tests/advisories/sa_153.py
  anta/tests/advisories/sa_154.py
  anta/tests/advisories/sa_155.py
  anta/tests/advisories/sa_156.py
  anta/tests/advisories/sa_157.py
  anta/tests/advisories/sa_158.py
  anta/tests/advisories/sa_159.py
  anta/tests/advisories/sa_160.py
  anta/tests/advisories/sa_161.py
  anta/tests/advisories/sa_162.py
  anta/tests/advisories/sa_163.py
  anta/tests/advisories/sa_164.py
  anta/tests/advisories/sa_165.py
  anta/tests/advisories/sa_166.py
  anta/tests/advisories/sa_167.py
  anta/tests/advisories/sa_168.py
  anta/tests/advisories/sa_169.py
  anta/tests/advisories/sa_170.py
  anta/tests/advisories/sa_171.py
  anta/tests/advisories/sa_172.py
  anta/tests/advisories/sa_173.py
  anta/tests/advisories/sa_174.py
  anta/tests/advisories/sa_175.py
  anta/tests/advisories/sa_176.py
  anta/tests/advisories/sa_177.py
  anta/tests/advisories/sa_178.py
  tests/units/anta_tests/advisories/test_metadata.py
Due: examples-test

fix(anta): Adding more unsupported commands
  anta/constants.py
Due: examples-test

ci: Exclude SA tests from benchmark (#1723)
  tests/units/anta_tests/advisories/test_sa_149.py
  tests/units/anta_tests/advisories/test_sa_150.py
  tests/units/anta_tests/advisories/test_sa_151.py
  tests/units/anta_tests/advisories/test_sa_152.py
  tests/units/anta_tests/advisories/test_sa_153.py
  tests/units/anta_tests/advisories/test_sa_154.py
  tests/units/anta_tests/advisories/test_sa_155.py
  tests/units/anta_tests/advisories/test_sa_156.py
  tests/units/anta_tests/advisories/test_sa_157.py
  tests/units/anta_tests/advisories/test_sa_158.py
  tests/units/anta_tests/advisories/test_sa_159.py
  tests/units/anta_tests/advisories/test_sa_160.py
  tests/units/anta_tests/advisories/test_sa_161.py
  tests/units/anta_tests/advisories/test_sa_162.py
  tests/units/anta_tests/advisories/test_sa_163.py
  tests/units/anta_tests/advisories/test_sa_164.py
  tests/units/anta_tests/advisories/test_sa_165.py
  tests/units/anta_tests/advisories/test_sa_166.py
  tests/units/anta_tests/advisories/test_sa_167.py
  tests/units/anta_tests/advisories/test_sa_168.py
  tests/units/anta_tests/advisories/test_sa_169.py
  tests/units/anta_tests/advisories/test_sa_170.py
  tests/units/anta_tests/advisories/test_sa_171.py
  tests/units/anta_tests/advisories/test_sa_172.py
  tests/units/anta_tests/advisories/test_sa_173.py
  tests/units/anta_tests/advisories/test_sa_174.py
  tests/units/anta_tests/advisories/test_sa_175.py
  tests/units/anta_tests/advisories/test_sa_176.py
  tests/units/anta_tests/advisories/test_sa_177.py
  tests/units/anta_tests/advisories/test_sa_178.py
Due: none

fix(anta): Adding more unsupported commands (#1725)
  anta/constants.py
Due: examples-test

doc: Fix da booboo
  docs/templates/python/material/anta_advisory_test.html.jinja
Due: none

bump: Version 1.10.0.dev6 -> 1.10.0 (#1724)
  docs/contribution.md
  docs/requirements-and-installation.md
  docs/templates/python/material/anta_advisory_test.html.jinja
  pyproject.toml
Due: none

ci: simplify code testing workflow
  .github/workflows/code-testing.yml
  docs/contribution.md
Due: none

feat(docs): extend snippet generation tooling
  README.md
  docs/scripts/generate_doc_snippets.py
  docs/scripts/generate_snippet.py
  tests/docs/test_doc_output_examples.py
  tests/docs/test_generate_snippet.py
Due: none

fix(docs): preserve snippet output status
  docs/scripts/generate_snippet.py
  tests/docs/test_generate_snippet.py
Due: none

doc: extend snippet generation tooling (#1727)
  README.md
  docs/scripts/generate_doc_snippets.py
  docs/scripts/generate_snippet.py
  tests/docs/test_doc_output_examples.py
  tests/docs/test_generate_snippet.py
Due: none

refactor(anta): Add custom spinner for anta psirt
  anta/cli/nrfu/__init__.py
  anta/cli/nrfu/utils.py
  anta/cli/psirt.py
  tests/units/cli/nrfu/test_commands.py
  tests/units/cli/test_psirt.py
Due: examples-test, doc-snippets

doc: refresh Getting Started examples
  docs/getting-started.md
  docs/imgs/getting-started/anta_nrfu_json.svg
  docs/imgs/getting-started/anta_nrfu_table.svg
  docs/imgs/getting-started/anta_nrfu_text.svg
  docs/snippets/getting-started/anta_nrfu_json.output
  docs/snippets/getting-started/anta_nrfu_table.output
  docs/snippets/getting-started/anta_nrfu_text.output
  docs/snippets/getting-started/catalog.yml
  docs/snippets/getting-started/inventory.yml
Due: none

doc: refresh NRFU examples
  docs/cli/nrfu.md
  docs/imgs/anta-nrfu-md-report-output.png
  docs/imgs/anta-nrfu-tpl-report-output.png
  docs/imgs/anta_nrfu___dry_run.svg
  docs/imgs/anta_nrfu_csv.png
  docs/imgs/anta_nrfu_device_dc1leaf1a_text.svg
  docs/imgs/anta_nrfu_device_dc1spine1_table.svg
  docs/imgs/anta_nrfu_dryrun.svg
  docs/imgs/anta_nrfu_table_groupby_device.svg
  docs/imgs/anta_nrfu_table_groupby_test.svg
  docs/imgs/anta_nrfu_tags_LEAF_json.svg
  docs/imgs/anta_nrfu_tags_LEAF_table.svg
  docs/imgs/anta_nrfu_tags_leaf_csv_csvoutput_nrfucsv.svg
  docs/imgs/anta_nrfu_tags_leaf_json.svg
  docs/imgs/anta_nrfu_tags_leaf_mdreport_mdoutput_nrfumd.svg
  docs/imgs/anta_nrfu_tags_leaf_table.svg
  docs/imgs/anta_nrfu_tags_leaf_tplreport_template__custom_templatej2.svg
  docs/imgs/anta_nrfu_test_VerifyZeroTouch_table.svg
Due: none

ci: simplify code testing workflow (#1728)
  .github/workflows/code-testing.yml
  docs/contribution.md
Due: none

doc: color custom NRFU results by status
  docs/cli/nrfu.md
  docs/imgs/anta_nrfu_tags_leaf_tplreport_template__custom_templatej2.svg
Due: none

doc: refresh operational CLI examples
  docs/cli/check.md
  docs/cli/debug.md
  docs/cli/exec.md
  docs/cli/get-inventory-information.md
  docs/cli/get-tests.md
  docs/cli/inv-from-ansible.md
  docs/cli/tag-management.md
  docs/imgs/anta_check_catalog_catalog_docs_snippets_gettingstarted_catalogyml.svg
  docs/imgs/anta_debug_ping_dc1_spine1.svg
  docs/imgs/anta_debug_ping_duplicate_params_dc1_spine1.svg
  docs/imgs/anta_debug_run_cmd_dc1_spine1.svg
  docs/imgs/anta_debug_run_template_dc1_leaf1a.svg
  docs/imgs/anta_exec_collecttechsupport_insecure_tags_spine_latest_1_configure.svg
  docs/imgs/anta_exec_snapshot_tags_spine_commandslist__commandsyaml_output__anta_snapshot.svg
  docs/imgs/anta_get_commands.svg
  docs/imgs/anta_get_commands_catalog_docs_snippets_gettingstarted_catalogyml.svg
  docs/imgs/anta_get_commands_catalog_docs_snippets_gettingstarted_catalogyml_unique.svg
  docs/imgs/anta_get_commands_module_antatestsstun.svg
  docs/imgs/anta_get_commands_test_VerifyBGPExchangedRoutes.svg
  docs/imgs/anta_get_commands_test_VerifyTacacs.svg
  docs/imgs/anta_get_fromansible_ansibleinventory_docs_snippets_ansibleinventoryyml_ansiblegroup_endpoints_output_antainventoryyml_overwrite.svg
  docs/imgs/anta_get_inventory_tags_spine.svg
  docs/imgs/anta_get_tags.svg
  docs/imgs/anta_get_tests.svg
  docs/imgs/anta_get_tests_count.svg
  docs/imgs/anta_get_tests_module_antatestsstun.svg
  docs/imgs/anta_get_tests_test_VerifyTacacs.svg
  docs/imgs/anta_get_tests_test_VerifyTacacsSourceIntf.svg
  docs/imgs/anta_nrfu_tags_leaf_spine_text.svg
  docs/imgs/anta_nrfu_tags_leaf_text.svg
  docs/snippets/ansible-inventory.yml
  docs/snippets/anta-inventory-from-ansible.yml
  tests/docs/test_doc_output_examples.py
Due: none

feat(anta.tests): Added VerifyAcctMethods test
  anta/custom_types.py
  anta/input_models/aaa.py
  anta/tests/aaa.py
  examples/tests.yaml
  tests/units/anta_tests/test_aaa.py
  tests/units/input_models/test_aaa.py
Due: examples-test
