Repository aristanetworks/anta: changes, and which pre-commit hooks are due for each by the changed paths.
All: examples-test, doc-snippets

.pre-commit-config.yaml:

---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
ci:
  autoupdate_commit_msg: "ci: pre-commit autoupdate"
  skip: [pyright]
files: ^(anta|docs|scripts|tests|asynceapi)/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: docs/.*.svg
      - id: end-of-file-fixer
      - id: check-added-large-files
        exclude: tests/data/.*$
      - id: check-merge-conflict

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.6
    hooks:
      - name: Check and insert license on Python files
        id: insert-license
        # exclude:
        files: .*\.py$
        args:
          - --license-filepath
          - .github/license-short.txt
          - --use-current-year
          - --allow-past-years
          - --fuzzy-match-generates-todo
          - --no-extra-eol

      - name: Check and insert license on Markdown files
        id: insert-license
        files: .*\.md$
        exclude: ^tests/data/.*\.md$
        args:
          - --license-filepath
          - .github/license-short.txt
          - --use-current-year
          - --allow-past-years
          - --fuzzy-match-generates-todo
          - --comment-style
          - "<!--|  ~|  -->"

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        name: Run Ruff linter
        args: [--fix]
      - id: ruff-format
        name: Run Ruff formatter

  - repo: https://github.com/pycqa/pylint
    rev: "v4.0.4"
    hooks:
      - id: pylint
        name: Check code style with pylint
        description: This hook runs pylint.
        types: [python]
        args:
          - -rn # Only display messages
          - -sn # Don't display the score
          - --rcfile=pyproject.toml # Link to config file
        additional_dependencies:
          - anta[cli]
          - types-PyYAML
          - types-requests
          - types-pyOpenSSL
          - pylint_pydantic
          - pytest
          - pytest-codspeed!=4.1.0
          - respx
          - pydantic-settings

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types: [text]
        args: ["--ignore-words", ".codespellignore"]

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.408
    hooks:
      - id: pyright
        name: PyRight static type checker
        types: [python]
        additional_dependencies:
          - anta[cli]
          - 'pytest>=8.2.0'
          - respx
          - types-PyYAML
          - types-requests
          - types-pyOpenSSL
        files: ^(anta|tests|asynceapi)/

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
      - id: markdownlint-cli2
        name: Check for Linting errors on Markdown files.
        args:
          - --config
          - .github/.markdownlint-cli2.yaml

  - repo: local
    hooks:
      - id: examples-test
        name: Generate examples/tests.yaml
        entry: >-
          sh -c "docs/scripts/generate_examples_tests.py"
        language: python
        types: [python]
        files: anta/
        verbose: true
        pass_filenames: false
        additional_dependencies:
          - anta[cli]
          - pydantic-settings
      - id: doc-snippets
        name: Generate doc snippets
        entry: >-
          sh -c "docs/scripts/generate_doc_snippets.py"
        language: python
        types: [python]
        files: anta/cli/
        verbose: true
        pass_filenames: false
        additional_dependencies:
          - anta[cli]
          - pydantic-settings

tighten wording
  docs/security-advisory/decisions/0001 - Advisory assessment states.md
Due: none

refactor(anta.cli): specialize PSIRT advisory execution
  .pre-commit-config.yaml
  anta/cli/get/commands.py
  anta/cli/get/utils.py
  anta/cli/nrfu/__init__.py
  anta/cli/nrfu/utils.py
  anta/cli/psirt.py
  docs/cli/get-tests.md
  docs/scripts/generate_examples_tests.py
  docs/security-advisory/tests.md
  docs/security-advisory/usage.md
  docs/snippets/anta_get_tests_help.txt
  docs/snippets/anta_psirt_help.txt
  docs/snippets/api_tests_overview.txt
  docs/usage-inventory-catalog.md
  examples/README.md
  examples/sa.yml
  examples/tests.yaml
  tests/units/cli/get/test_commands.py
  tests/units/cli/test_psirt.py
Due: examples-test, doc-snippets

fix: Add test and fix output
  docs/cli/get-tests.md
  tests/units/cli/test_psirt.py
Due: none

refactor(anta.cli): reuse result options
  anta/cli/nrfu/__init__.py
  anta/cli/psirt.py
  anta/cli/utils.py
Due: examples-test, doc-snippets

Update tests/units/cli/test_psirt.py
  tests/units/cli/test_psirt.py
Due: none

doc: Add decision doc 0001 - Advisory assessment states (#1699)
  docs/security-advisory/decisions/0001 - Advisory assessment states.md
Due: none

test(cli): make Ansible output assertion wrapping-safe
  tests/units/cli/get/test_commands.py
Due: none

Updated licence doc
  anta/input_models/aaa.py
Due: examples-test

refactor(anta.cli): specialize PSIRT advisory execution (#1701)
  .pre-commit-config.yaml
  anta/cli/get/commands.py
  anta/cli/get/utils.py
  anta/cli/nrfu/__init__.py
  anta/cli/nrfu/utils.py
  anta/cli/psirt.py
  anta/cli/utils.py
  docs/cli/get-tests.md
  docs/scripts/generate_examples_tests.py
  docs/security-advisory/tests.md
  docs/security-advisory/usage.md
  docs/snippets/anta_get_tests_help.txt
  docs/snippets/anta_psirt_help.txt
  docs/snippets/api_tests_overview.txt
  docs/usage-inventory-catalog.md
  examples/README.md
  examples/sa.yml
  examples/tests.yaml
  tests/units/cli/get/test_commands.py
  tests/units/cli/test_psirt.py
Due: examples-test, doc-snippets

init anta psirt lab doc
  docs/imgs/anta-psirt.png
  docs/security-advisory/lab.md
  mkdocs.yml
Due: none

fix title
  docs/security-advisory/lab.md
  mkdocs.yml
Due: none

refactor(anta): Adjust advisories 146,147 to latest decision doc and SA docs (#1700)
  anta/tests/advisories/sa_146.py
  anta/tests/advisories/sa_147.py
  tests/units/anta_tests/advisories/test_sa_147.py
Due: examples-test

refactor(anta.test): simplify security advisory test names
  anta/tests/advisories/__init__.py
  anta/tests/advisories/sa_117.py
  anta/tests/advisories/sa_140.py
  anta/tests/advisories/sa_142.py
  anta/tests/advisories/sa_146.py
  anta/tests/advisories/sa_147.py
  docs/security-advisory/tests.md
  docs/security-advisory/usage.md
  tests/data/test_security_advisory_csv_report.csv
  tests/units/_advisory/reporting_data.py
  tests/units/_advisory/test_md_reporter.py
  tests/units/_advisory/test_remediation.py
  tests/units/anta_tests/advisories/test_metadata.py
  tests/units/anta_tests/advisories/test_sa_117.py
  tests/units/anta_tests/advisories/test_sa_140.py
  tests/units/anta_tests/advisories/test_sa_142.py
  tests/units/anta_tests/advisories/test_sa_146.py
  tests/units/anta_tests/advisories/test_sa_147.py
  tests/units/cli/get/test_commands.py
  tests/units/cli/test_psirt.py
Due: examples-test

test(anta.cli): make Ansible output assertion wrapping-safe (#1702)
  tests/units/cli/get/test_commands.py
Due: none

Apply suggestions from code review
  anta/tests/advisories/sa_117.py
  anta/tests/advisories/sa_140.py
  anta/tests/advisories/sa_142.py
  anta/tests/advisories/sa_146.py
  anta/tests/advisories/sa_147.py
Due: examples-test

shorten the doc
  docs/security-advisory/lab.md
Due: none

fix docstring test to support reexports
  tests/units/anta_tests/test_docstrings.py
Due: none

doc: init anta psirt lab doc (#1703)
  docs/imgs/anta-psirt.png
  docs/security-advisory/lab.md
  mkdocs.yml
Due: none

refactor: Adjust test and re-exports
  anta/tests/advisories/__init__.py
  tests/units/anta_tests/test_docstrings.py
Due: examples-test

refactor(anta): simplify security advisory test names (#1704)
  anta/tests/advisories/__init__.py
  anta/tests/advisories/sa_117.py
  anta/tests/advisories/sa_140.py
  anta/tests/advisories/sa_142.py
  anta/tests/advisories/sa_146.py
  anta/tests/advisories/sa_147.py
  docs/security-advisory/tests.md
  docs/security-advisory/usage.md
  tests/data/test_security_advisory_csv_report.csv
  tests/units/_advisory/reporting_data.py
  tests/units/_advisory/test_md_reporter.py
  tests/units/_advisory/test_remediation.py
  tests/units/anta_tests/advisories/test_metadata.py
  tests/units/anta_tests/advisories/test_sa_117.py
  tests/units/anta_tests/advisories/test_sa_140.py
  tests/units/anta_tests/advisories/test_sa_142.py
  tests/units/anta_tests/advisories/test_sa_146.py
  tests/units/anta_tests/advisories/test_sa_147.py
  tests/units/anta_tests/test_docstrings.py
  tests/units/cli/get/test_commands.py
  tests/units/cli/test_psirt.py
Due: examples-test

bump: Version 1.10.0.dev3 -> 1.10.0.dev4
  docs/contribution.md
  docs/requirements-and-installation.md
  pyproject.toml
Due: none

bump: Version 1.10.0.dev3 -> 1.10.0.dev4 (#1706)
  docs/contribution.md
  docs/requirements-and-installation.md
  pyproject.toml
Due: none

test: Move documentation tests to their own sub folder to not crash the release pipeline
  tests/docs/test_manage_doc_versions.py
Due: none

test: Adding init
  tests/docs/__init__.py
Due: none

bump: Version 1.10.0.dev4 -> 1.10.0.dev5
  docs/contribution.md
  docs/requirements-and-installation.md
  pyproject.toml
Due: none

ci: Fix release pipeline tests (#1707)
  tests/docs/__init__.py
  tests/docs/test_manage_doc_versions.py
Due: none

bump: Version 1.10.0.dev4 -> 1.10.0.dev5 (#1708)
  docs/contribution.md
  docs/requirements-and-installation.md
  pyproject.toml
Due: none

feat(anta.tests): Add VerifyAuthorizationMethodLists test
  anta/input_models/aaa.py
  anta/tests/aaa.py
  examples/tests.yaml
  tests/units/anta_tests/test_aaa.py
Due: examples-test

refactir: Add back Enum for VulnerabilityStatus
  anta/_advisory/base.py
  anta/_advisory/findings/models.py
  anta/_advisory/findings/projection.py
  anta/_advisory/reporter/reporting.py
  anta/_advisory/results.py
  anta/tests/advisories/sa_117.py
  anta/tests/advisories/sa_140.py
  anta/tests/advisories/sa_142.py
  anta/tests/advisories/sa_146.py
  anta/tests/advisories/sa_147.py
  docs/security-advisory/reports.md
  tests/units/_advisory/findings/test_projection.py
  tests/units/_advisory/reporting_data.py
  tests/units/_advisory/test_csv_reporter.py
  tests/units/_advisory/test_md_reporter.py
  tests/units/_advisory/test_optional_commands.py
  tests/units/_advisory/test_reporting.py
  tests/units/_advisory/test_results.py
  tests/units/anta_tests/__init__.py
Due: examples-test

fix: Test VerifyInterfacesCounterDetails TypeError (#1674)
  anta/tests/interfaces.py
  tests/units/anta_tests/test_interfaces.py
Due: examples-test

fix: Test VerifyAuthenMethods (#1675)
  anta/tests/aaa.py
  tests/units/anta_tests/test_aaa.py
Due: examples-test

feat(eos): extend platform family mappings
  anta/_eos/platform.py
  anta/tests/advisories/sa_142.py
  tests/units/_eos/test_platform.py
Due: examples-test

feat(advisory): add shared EOS assessment helpers
  anta/_advisory/findings/assessment.py
  anta/tests/advisories/sa_117.py
  anta/tests/advisories/sa_140.py
  anta/tests/advisories/sa_146.py
  anta/tests/advisories/sa_147.py
  tests/units/_advisory/findings/test_assessment.py
  tests/units/anta_tests/advisories/test_sa_146.py
Due: examples-test

fix string form of cvx
  anta/_eos/platform.py
Due: examples-test

remove unused model
  tests/units/_eos/test_platform.py
Due: none

fix(eos): align platform families with Bug Alert data
  anta/_eos/platform.py
  anta/tests/advisories/sa_142.py
  tests/units/_eos/test_platform.py
  tests/units/anta_tests/advisories/test_sa_142.py
Due: examples-test

refactor: Add more info
  anta/_eos/platform.py
  anta/tests/advisories/sa_142.py
  tests/units/_eos/test_platform.py
  tests/units/anta_tests/advisories/test_sa_142.py
Due: examples-test

doc: ADdress code rabbit comment on doc
  docs/cli/overview.md
Due: none
